/* Tokens */
:root {
  --color-neutral-0: #fff;
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #64748b;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;
  --color-neutral-950: #020617;
  --color-neutral-1000: #000;

  --color-accent-50: #f4f9f7;
  --color-accent-100: #daede7;
  --color-accent-200: #b5dacf;
  --color-accent-300: #88c0b0;
  --color-accent-400: #5fa292;
  --color-accent-500: #458778;
  --color-accent-600: #397367;
  --color-accent-700: #2e574f;
  --color-accent-800: #284741;
  --color-accent-900: #253c38;
  --color-accent-950: #112220;

  --rounded-sm: 2px;
  --rounded-md: 4px;
  --rounded-lg: 8px;
  --rounded-full: 9999px;

	--shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --font-family-body: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
}

/* Globals */
:root {
  font-family: var(--font-family-body);
  /* Researchspace sets the root font size to 10px */
  font-size: 16px;
	font-synthesis: none;
}

/*
 * Overwrite researchspace custom properties
 * @see https://github.com/researchspace/researchspace/blob/master/src/main/web/styling/_variables.scss
 */
:root {
  --color-body-bg: var(--color-neutral-50);

	--color-dark: var(--color-neutral-800);
  --color-dark-darker: var(--color-neutral-950);
  --color-dark--op50: var(--color-neutral-200);
  --color-dark--op75: var(--color-neutral-500);

	--color-primary-10: var(--color-accent-50);

  --font-family: var(--font-family-body);
  --font-family-navbar-logo: var(--font-family-body);
  --font-size-body: 0.875rem;
}

/** Overwrite researchspace defaults */
body {
  font-family: var(--font-family-body) !important;
}

h1, h2, h3, h4 {
	font-weight: 300 !important;
}

/* Screenreader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Client side transition overlay */
.modal-backdrop {
	background-color: var(--color-accent-50) !important;
}

/* App header */
.app-header {
	background-color: var(--color-neutral-0);
	color: var(--color-neutral-800);
  border-bottom: 1px solid var(--color-neutral-200);
  padding: 16px 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
}

.app-header__title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.app-header__logo {
  border-radius: var(--rounded-full);
  overflow: hidden;
  border: 2px solid var(--color-accent-200);
}

.app-header__title-text {
  font-weight: 300;
  font-size: 1.25rem;
}

/* App footer */
.app-footer__top {
	margin-top: 32px;
}

.app-footer__top {
	background-color: var(--color-neutral-100);
	color: var(--color-neutral-800);
  border-top: 1px solid var(--color-neutral-200);
  padding: 32px 32px;
	display: flex;
	gap: 16px;
	line-height: 1.625;
}

.app-footer__top a {
	color: var(--color-neutral-800);
	text-decoration: underline;
	text-decoration-style: dotted;
}

.app-footer__bottom {
	background-color: var(--color-neutral-950);
	color: var(--color-neutral-200);
  border-top: 1px solid var(--color-neutral-200);
  padding: 12px 32px;
	display: flex;
	justify-content: flex-end;
	font-size: 0.75rem;
}

.app-footer__bottom a {
	color: var(--color-neutral-200);
	text-decoration: underline;
	text-decoration-style: dotted;
}

.app-footer__bottom a:hover {
	color: var(--color-neutral-100);
}

/* Breadcrumb navigation (built-in class) */
/* .page-breadcrumb {} */

/* Main page container (built-in class) */
/* .page {} */

.page__hero {
	display: grid;
	position: relative;
	padding: 128px 32px;
	background: linear-gradient(
		to right,
		var(--color-accent-100),
		var(--color-accent-50)
	);
	border-top: 1px solid var(--color-accent-200);
	border-bottom: 1px solid var(--color-accent-200);
}

.page__hero img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page__hero h1 {
	position: relative;
	font-weight: 300;
	font-size: 3rem;
	text-align: center;
	line-height: 1;
}

.page-section {
	padding: 32px 32px;
	display: grid;
	gap: 16px;
	margin-inline: auto;
	max-width: 1280px;
}

.page-section__title {
	font-weight: 300;
}

/* Home page */
.home-page__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
	gap: 16px;
}

.home-page__grid-item {
	border-radius: var(--rounded-md);
	border: 1px solid var(--color-neutral-200);
	transition: background-color border-color 150ms ease-out;
}

.home-page__grid-item a {
	padding: 16px 12px;
	display: grid;
	place-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.home-page__grid-item:hover {
	background-color: var(--color-accent-50);
	border-color: var(--color-accent-200);
}

/* Templates */
.page__header {
	padding: 32px 32px;
}

.page__header-body b {
	font-weight: 600;
}

.page__body-navtabs li.active {
	box-shadow: none !important;
	border-bottom: 1px solid var(--color-neutral-800);
}

.page__body-navtabs li.active:hover {
	box-shadow: none !important;
	border-bottom: 1px solid var(--color-neutral-800);
}

.page__body-navtabs li.active a {
	font-weight: 600;
}
