<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page">
  
  <div style="display:block;width:100%;margin:0 auto;height:300px">
                <img style="width:100%;position:absolute;z-index:-1;top:0;left:0;" src="https://www.maxpixel.net/static/photo/2x/Ai-Abstract-Atom-Large-Blue-Business-Background-4626114.jpg">
  </div>
  <div class="container-fluid" style="background-color:white;min-height:50vh">
     <bs-row class="row-center">
     		<!-- <img style="width:600px" src="[todo: SK-logo]" alt=""> -->
      </bs-row>
     <bs-row class="row-center">
       <h1>Semantic Kraus - Exploration platform</h1>
     </bs-row>
    <bs-row class="row-center">
      <bs-col xs="8">
            <bs-row>
              <bs-col>
                <h3>Sample Entities:</h3>

                <table>
                  <tr>
                    <td>LK:</td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/pmb11988">Sample: Karl Kraus</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/pmb39331">Sample: Oscar Pollak</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/pmb61389">Sample: Newspaper Article</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/D_000068-062-000">Sample: Court File</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/D_000068-062-000/passage/771">Sample: Text Passage (Intertextual Relation)</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/D_000068-062-000/passage/854">Sample: Text Passage (Person Mention)</semantic-link></td>
                  </tr>
                  <tr>
                    <td>DW:</td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/DWbibl00000">Sample: Dritte Walpurgisnacht</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/DWpers0125">Sample: Alfred Kerr</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/DWbibl00000/passage/2092">Sample: Text Passage (Person Mention)</semantic-link></td>
                  </tr>
                  <tr>
                    <td>FA:</td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/p_46460">Sample: Imre Békessy</semantic-link></td>
                    <td><semantic-link uri="https://sk.acdh.oeaw.ac.at/text10013">Sample: Das technoromantische Abenteuer</semantic-link></td>
                  </tr>
                </table>





                <p></p>
                <p></p>
                <!-- <p><semantic-link uri="https://sk.acdh-dev.oeaw.ac.at/resource/:tree_test">Experimental: Publication Tree</semantic-link></p>
                <p><semantic-link uri="https://sk.acdh-dev.oeaw.ac.at/resource/:timeline_test">Experimental: Case Timeline</semantic-link></p> -->

              </bs-col>
            </bs-row>
        		<bs-row>
              
              <bs-col>
                <!--<h3><mp-link  url="sk:model">Model</mp-link ></h3>
                <h3><mp-link  url="/sparql">SPARQL Interface</mp-link ></h3>
                <h3><semantic-link iri="app:Overview">Data Overview</semantic-link></h3>-->
								<h3><semantic-link iri="rsp:Search">Under Construction: Search</semantic-link></h3>
              </bs-col>
            </bs-row>
          </bs-col>
      </bs-row>
  </div>
</div>


