[[!--
      <ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    Findings Hierarchy
  </li>
</ol>

    <p>1. {{frameId}} 2. {{viewId}} 3. {{dashboardId}}</p>  
<div class="page" style="height:1000px">



    [[#> rsp:ClipboardSidebar navHeight=58]]
  

  
    [[#> rsp:DetailsSidebar navHeight=58]]
 
--]]

<div class="page" style="height:calc(100vh - 70px);padding:0px 0px 0px 0px" >

<inline-template template-iri='[[resolvePrefix "rsp:FindingsCollectionBrowser" Title = "Objects"]]'
                 options='{
                          
                          "rootEntityConfig": "http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Klassik_Object",
                          "membershipPattern":"?item crm:P2_has_type <http://collection.klassik-stiftung.de/resource/vocab/entities/object>.",
                          "broaderPattern": "?item ^crm:P46_is_composed_of ?parent", 
                          "frameId": "object-hierarchy",
                          "editable": "true",
                          
                       
                              "labelSparqlPattern": "?item crm:P2_has_type <http://collection.klassik-stiftung.de/resource/vocab/entities/object> . ?item <http://www.cidoc-crm.org/cidoc-crm/P102_has_title> ?title . ?title a crm:E35_Title . ?title crm:P190_has_symbolic_content ?label .
                       
                            
                         "}'
                 
              
                 
  ></inline-template>

[[!--
    [[/rsp:DetailsSidebar]]
  

    "orderByPattern": "{BIND(REPLACE(?label, \"(.\*\?)\\s(\\d*)\",\"$2\") as ?label)"
    [[/rsp:ClipboardSidebar]]
--]]


</div>

  