<div class="page__header-body content-container">
	<div>
		<h1>
			<semantic-query query="SELECT DISTINCT ?type WHERE { ?? a ?type }" template="{{> icon-template}}">
				<template id="icon-template">
					{{#each bindings}}
					<div class="sr-only">{{type.value}}</div>
					{{/each}}
				</template>
			</semantic-query>
			<mp-label iri='[[this]]'></mp-label>
		</h1>

		<dl>
			<dt>URI:</dt>
			<dd>
				<a href='[[this]]' target='_blank'><span>[[this]]</span>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
			</dd>
			<dt>Type:</dt>
			<dd>
				<semantic-query query="SELECT DISTINCT ?type WHERE { ?? a ?type }"></semantic-query>
			</dd>
		</dl>
	</div>
</div>
