<div data-flex-layout="row stretch-stretch" class='rs-results-area'>
        
  <div data-flex-self="size-1of3" style="flex: 0 0 0;" class='search-border'>
      <semantic-search-facet id='semantic-search-facet'
        value-categories='{
          "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>": {
              "kind": "date-range",
              "valuesQuery": "
                  SELECT ?dateBeginValue ?dateEndValue WHERE {
                    FILTER(?__facetRelationPattern__).
                    ?__value__ crm:P82a_begin_of_the_begin ?dateBeginValue ;
                          crm:P82b_end_of_the_end     ?dateEndValue .
                  } ORDER BY ?dateBeginValue
              "
          }
        }'
      ></semantic-search-facet>
  </div>

  <semantic-search-result-holder>
    <div>
      <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
      <semantic-search-result id='semantic-search-result'>
          <mp-sparql-result-counts id='semantic-search-result-count' query="SELECT DISTINCT ?subject {}"
                                  template='{{> template}}'
          >
            <template id='template'>
              <div style="display: flex; justify-content: flex-end;">
                <span class="num-results">Found <span class="num-results-color">{{#if hasLimit}}{{totalNumberOfResults}}{{else}}{{numberOfResults}}{{/if}}</span> results</span>
              </div>
            </template>
          </mp-sparql-result-counts>
      </semantic-search-result>
      <bs-tabs default-active-key='1' unmount-on-exit=true id='search-results' animation=false>
         
        <bs-tab event-key="1" title="Table" class="">
          <semantic-search-result> 
       
            [[#if project]]
              <semantic-table id='project-table'
                              query='SELECT ?subject ?projectTitle ?projectStatusLabel ?projectPriorityLabel ?dateStart ?dateEnd 
                              ?order 
															(GROUP_CONCAT(?typeLabel;SEPARATOR=", ") AS ?projectTypeLabel) 
															WHERE {

                                      ?subject crm:P2_has_type <http://www.researchspace.org/resource/vocab/conservation_entities/project> .
                      
                                      ?subject crm:P1_is_identified_by ?appellation .
                                      ?appellation a crm:E41_Appellation .
                                      ?appellation crm:P2_has_type <http://www.researchspace.org/resource/vocab/identifier/project_title> .
                                      ?appellation crm:P190_has_symbolic_content ?projectTitle .  
                      
                                      OPTIONAL {
                                        ?subject crm:P2_has_type ?projectStatus .
                                        ?projectStatus crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/status> .
                                        ?projectStatus skos:prefLabel ?projectStatusLabel .
                                      }

                                      OPTIONAL {
                                        ?subject crm:P2_has_type ?projectPriority .
                                        ?projectPriority crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/priority> .
                                        ?projectPriority skos:prefLabel ?projectPriorityLabel .
                                      }
                      
                                      OPTIONAL {
                                        ?subject crm:P2_has_type ?projectType .
                                        ?projectType crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/project_type> .
                                        ?projectType skos:prefLabel ?typeLabel .
                                      }
                      
                                      OPTIONAL {
                                        ?subject crm:P4_has_time-span ?timespanStart .
                                        ?timespanStart a crm:E52_Time-Span .
                                        ?timespanStart crm:P82a_begin_of_the_begin ?dateStart .
                                      }
                      
                                      OPTIONAL {
                                        ?subject crm:P4_has_time-span ?timespanEnd .
                                        ?timespanEnd a crm:E52_Time-Span .
                                        ?timespanEnd crm:P82b_end_of_the_end ?dateEnd .
                                      }
                      
                                      BIND(IF(?projectStatus = <http://www.researchspace.org/resource/vocab/status/closed>, 0, 1) AS ?order)
                                    } 
                                    GROUP BY ?subject ?projectTitle ?projectStatusLabel ?projectPriorityLabel ?dateStart ?dateEnd ?order
                                    ORDER BY DESC(?order) ASC(?projectTitle)'
                      
                              number-of-displayed-rows=10
                              options='{"showFilter":false}' 
                      
                              column-configuration='[{"variableName": "projectTitle", "displayName": "Project title", "cellTemplate": "{{> project}}" },
                                                      {"variableName": "projectTypeLabel", "displayName": "Project type"},
                                                      {"displayName": "Researchers", "cellTemplate": "{{> researcher}}"},
                                                      {"variableName": "projectStatusLabel", "displayName": "Status"},
                                                      {"variableName": "projectPriorityLabel", "displayName": "Priority"},
                                                      {"variableName": "dateStart", "displayName": "Start date"},
                                                      {"variableName": "dateEnd", "displayName": "End date"}
                                                    ]'
                            >
              
                  <template id='project'>
                    <mp-draggable iri='{{subject.value}}'>
                      <div style="display: flex; align-items: center; cursor: grab;">
                        <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>
                        <semantic-link iri='[[resolvePrefix "rsp:ThinkingFrames"]]' 
                                        urlqueryparam-resource='{{subject.value}}' 
                                        urlqueryparam-view='entity-editor' 
                                        class='a-draggable'
                                        >
                          <div style="display: flex; align-items: center;">
                          {{projectTitle.value}}
                          </div>
                        </semantic-link>
                      </div>
                    </mp-draggable>
                  </template>

                  <template id='researcher'>
                    <semantic-query query='SELECT DISTINCT ?user ?userName WHERE {
                                            <{{subject.value}}> crm:P01i_is_domain_of ?activityDomain . 
                                            ?activityDomain a crm:PC14_carried_out_by .
                                            ?activityDomain crm:P02_has_range ?user .
                                                
                                            ?user a crm:E39_Actor .
                                            ?user crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/tna_organisational_structure> .
                  
                                            ?user crm:P1_is_identified_by ?identifier .
                                            ?identifier a crm:E41_Appellation .
                                            ?identifier crm:P190_has_symbolic_content ?userName .
                                            ?identifier crm:P2_has_type <http://www.researchspace.org/resource/vocab/identifier/full_name> .
                                            
                                          } ORDER BY ASC(?userName)'
                                    >
                      <template id='template'>
                        <mp-popover class="table-researcher-popover">
                          <mp-popover-trigger placement="bottom" trigger='["click", "focus"]' root-close='true' >
                            <div style="width: fit-content;">
                              <div class="badge badge--default">
                                <i class="fa fa-user" style="width: min-content;"></i>
                              </div>
                              {{#if bindings.1.user.value}}
                                <div class="badge badge--default" style="margin: 0 -3px;">
                                  <i class="fa fa-user" style="width: min-content;"></i>
                                </div>
                              {{/if}}
                              {{#if bindings.2.user.value}}
                                <div class="badge badge--default">
                                  <i class="fa fa-user" style="width: min-content;"></i>
                                </div>
                              {{/if}}
                            </div>
                          </mp-popover-trigger>
                          
                          <mp-popover-content>
                            {{#each bindings}}
                              <div>
                                <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" draggable='false'
                                                urlqueryparam-view='entity-editor' urlqueryparam-resource-iri='{{user.value}}'
                                                title='{{userName.value}}'
                                                style="font-weight: 500; text-decoration:underline;line-height:1.5;"
                                                >
                                  {{userName.value}}
                                </semantic-link>
                              </div>
                            {{/each}}
                          </mp-popover-content>
                        </mp-popover>
                      </template>
                    </semantic-query>
                  </template>
          
              </semantic-table>
            [[else if collection_item]]
              <div class="collection-items-search-table-container">
                <semantic-table id='collection-items-table'
                                query='SELECT DISTINCT ?subject ?itemLabel ?catalogueLevelLabel ?description ?titleLabel ?score
                                         #(GROUP_CONCAT(?typeLabel;SEPARATOR=", ") AS ?itemTypeLabel) 
																				 WHERE {
                                          #hint:Prior hint:runLast true .
                                          ?subject crm:P1_is_identified_by ?identifier.
                                          ?identifier crm:P2_has_type ?identifier_type .    
                                          FILTER (?identifier_type in (<http://www.researchspace.org/resource/vocab/identifier/crn>, 
                                               <http://www.researchspace.org/resource/vocab/identifier/collection_item_id> ))

                                          ?identifier rdfs:label ?itemLabel.
                                          OPTIONAL {
                                            ?subject crm:P2_has_type ?catalogueLevel .
                                            ?catalogueLevel crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/catalogue_reference_number_type>  .
                                            ?catalogueLevel skos:prefLabel ?catalogueLevelLabel .
                                          }

                                          OPTIONAL {
                                            ?subject crm:P2_has_type ?type.
                                            ?type crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/collection_item_type> .
                                            ?type skos:prefLabel ?typeLabel .
                                          }
      
                                          OPTIONAL {
                                            ?subject crm:P67i_is_referred_to_by ?information .
                                            ?information a crm:E73_Information_Object .
                                            ?information crm:P190_has_symbolic_content ?description .
                                            ?information crm:P2_has_type <http://www.researchspace.org/resource/vocab/text_type/description> .
                                          }

                                          OPTIONAL {
                                            ?subject crm:P102_has_title ?title .
                                            ?title a crm:E35_Title .
                                            ?title crm:P190_has_symbolic_content ?titleLabel .
                                          }
                                          BIND ( IF (BOUND (?score), ?score, ?itemLabel )  as ?orderBy  ) .
                                      } 
																			#GROUP BY ?subject ?itemLabel ?catalogueLevelLabel ?description ?titleLabel
                                      #ORDER BY ASC(?itemLabel)
                                      
                                      
                                      
																			'
                              
                                number-of-displayed-rows=10
                                options='{"showFilter":false}' 
                                column-configuration='[{"displayName": "Object", "variableName": "item", "cellTemplate": "{{> item}}"}, 
                                                        {"displayName": "Catalogue level", "variableName": "catalogueLevelLabel" },
                                                        {"displayName": "Type", "variableName": "itemTypeLabel" },
                                                        {"displayName": "Description", "variableName": "description" },
                                                        {"displayName": "Title", "variableName": "titleLabel" }
                                                      ]'
                                  >
                  <template id='item'>
                    <mp-draggable iri='{{subject.value}}'>
                      <div style="display: flex; align-items: center; cursor: grab;">
                        <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>
                        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                                        urlqueryparam-view='entity-editor' urlqueryparam-resource='{{subject.value}}'
                                        class='a-draggable'
                                        >
                          {{itemLabel.value}}
                        </semantic-link>
                      </div>
                    </mp-draggable>
                  </template>
                </semantic-table>
              </div>
            [[else if exhibition]]
              <semantic-table id='exhibition-table'
                          query='SELECT DISTINCT ?subject ?exhibitionTitle ?statusLabel 
                                                  (CONCAT(STR(DAY(?startDate)),"-",STR(MONTH(?startDate)),"-",STR(YEAR(?startDate))) as ?finalStartDate)
                                                  (CONCAT(STR(DAY(?endDate)),"-",STR(MONTH(?endDate)),"-",STR(YEAR(?endDate))) as ?finalEndDate)
                                                  (GROUP_CONCAT(?exhibitionType;SEPARATOR=", ") AS ?types)
                                WHERE {
                                  
                                  ?subject crm:P1_is_identified_by ?appellation .
                                  ?appellation crm:P2_has_type <http://www.researchspace.org/resource/vocab/identifier/exhibition_title> .
                                  ?appellation crm:P190_has_symbolic_content ?exhibitionTitle .  

                                  OPTIONAL {
                                    ?subject crm:P2_has_type ?exhibitionTypeURI .
                                    ?exhibitionTypeURI crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/exhibition_type> .
                                    ?exhibitionTypeURI skos:prefLabel ?exhibitionType .
                                  }

                                  OPTIONAL {
                                    ?subject crm:P2_has_type ?status .
                                    ?status crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/status> .
                                    ?status skos:prefLabel ?statusLabel .
                                  }

                                  OPTIONAL {
                                    ?subject crm:P4_has_time-span ?timespanStart .
                                    ?timespanStart crm:P82a_begin_of_the_begin ?startDate .
                                  }
                                  
                                  OPTIONAL {
                                    ?subject crm:P4_has_time-span ?timespanEnd .
                                    ?timespanEnd crm:P82b_end_of_the_end ?endDate .
                                  }
                              } GROUP BY ?subject ?exhibitionTitle ?statusLabel ?startDate ?endDate
                              ORDER BY ASC( ?exhibitionTitle)'
                          
                          number-of-displayed-rows=10
                          options='{"showFilter":false}' 
                          column-configuration='[
                                                  {"variableName": "exhibitionTitle", "displayName": "Exhibition title", "cellTemplate": "{{> exhibition}}"},
                                                  {"variableName": "types", "displayName": "Exhibition type" },
                                                  {"variableName": "statusLabel", "displayName": "Status" },
                                                  {"variableName": "finalStartDate", "displayName": "Start date" },
                                                  {"variableName": "finalEndDate", "displayName": "End date" },
                                                  {"displayName": "Organisation", "cellTemplate": "{{> organisation}}"}
                                              ]'   >

                  <template id='exhibition'>
                    <mp-draggable iri='{{subject.value}}'>
                      <div style="display: flex; align-items: center; cursor: grab;">
                        <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>
                        <semantic-link iri='[[resolvePrefix "rsp:ThinkingFrames"]]' 
                                        urlqueryparam-resource='{{subject.value}}' 
                                        urlqueryparam-view='entity-editor' 
                                        class='a-draggable'
                                        >
                            <div style="display: flex; align-items: center;">
                            {{exhibitionTitle.value}}
                          </div>
                        </semantic-link>
                      </div>
                    </mp-draggable>
                  </template>

                  <template id='organisation'>
                    <semantic-query query='SELECT DISTINCT ?organisation ?organisationLabel WHERE {
  																					
                                            <{{subject.value}}>  crm:P14_carried_out_by ?organisation .
                                            ?organisation crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/tna_organisation> .
                                            ?organisation crm:P1_is_identified_by ?org_appellation .  
                                            ?org_appellation crm:P2_has_type <http://www.researchspace.org/resource/vocab/address_type/name> . 
                                            ?org_appellation crm:P190_has_symbolic_content ?organisationLabel .
                                            
                                          } ORDER BY ASC(?organisationLabel)'
                                    >
                      <template id='template'>
                        <div>
                          {{#each bindings}}
                          <mp-draggable iri='{{organisation.value}}'>
                            <div style="display: flex; align-items: center; cursor: grab;">
                              <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>
                              <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" draggable='false'
                                              urlqueryparam-view='entity-editor' urlqueryparam-resource-iri='{{organisation.value}}'
                                              class='a-draggable' title='{{organisationLabel.value}}'
                                              >
                                {{organisationLabel.value}}
                              </semantic-link>
                            </div>
                          </mp-draggable>
                          {{/each}}
                        </div>
                      </template>
                    </semantic-query>
                  </template>

              </semantic-table>
            [[else if scientific_analysis]]
            <semantic-table id='scientific-table'
                              query='SELECT DISTINCT ?subject ?scientificAnalysisTitle ?statusLabel ?priorityLabel ?dateValue ?item ?itemLabel WHERE {
                                    	
                                      ?subject crm:P1_is_identified_by ?appellation .
                                      ?appellation crm:P2_has_type <http://www.researchspace.org/resource/vocab/identifier/analysisid> .
                                      ?appellation crm:P190_has_symbolic_content ?scientificAnalysisTitle . 

                                      ?subject <http://www.ics.forth.gr/isl/CRMsci/O8_observed> ?item .
                                      ?item crm:P2_has_type <http://www.researchspace.org/resource/vocab/conservation_entities/collection_item> .
                                      ?item crm:P1_is_identified_by ?identifier .
                                      ?item crm:P1_is_identified_by ?identifier .
                                      ?identifier crm:P2_has_type ?identifierType .
  									                  FILTER (?identifierType in (<http://www.researchspace.org/resource/vocab/identifier/crn>,<http://www.researchspace.org/resource/vocab/identifier/collection_item_id>))  	
                                      ?identifier rdfs:label ?itemLabel .
                                      
                                      OPTIONAL {
                                        ?subject crm:P2_has_type ?status .
                                        ?status crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/status> .
                                        ?status skos:prefLabel ?statusLabel .
                                      }

                                      OPTIONAL {
                                        ?subject crm:P2_has_type ?priority .
                                        ?priority crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/priority> .
                                        ?priority skos:prefLabel ?priorityLabel .
                                      }

                                      OPTIONAL {
                                        ?subject crm:P4_has_time-span ?date .
                                        ?date crm:P82_at_some_time_within ?dateValue . 
                                      }

                                    } ORDER BY ASC(?scientificAnalysisTitle)'
                              
                              number-of-displayed-rows=10
                              options='{"showFilter":false}' 
                              column-configuration='[{"variableName": "scientificAnalysisTitle", "displayName": "Scientific analysis title", "cellTemplate": "{{> analysis}}"},
                                                      {"variableName": "statusLabel", "displayName": "Status" },
                                                      {"variableName": "priorityLabel", "displayName": "Priority"},
                                                      {"variableName": "dateValue", "displayName": "Date" },
                                                      {"variableName": "itemLabel", "displayName": "Object analysed", "cellTemplate": "{{> item}}" },
                                                      {"displayName": "Analytical technique", "cellTemplate": "{{> technique}}" }
                                                    ]'   >
                  <template id='analysis'>
                    <mp-draggable iri='{{subject.value}}'>
                      <div style="display: flex; align-items: center; cursor: grab;">
                        <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>
                        <semantic-link iri='[[resolvePrefix "rsp:ThinkingFrames"]]' 
                                        urlqueryparam-resource='{{subject.value}}' 
                                        urlqueryparam-view='entity-editor' 
                                        class='a-draggable'
                                        >
                          <div style="display: flex; align-items: center;">
                          {{scientificAnalysisTitle.value}}
                          </div>
                        </semantic-link>
                      </div>
                    </mp-draggable>
                  </template>

                  <template id='item'>
                    <mp-draggable iri='{{item.value}}'>
                      <div style="display: flex; align-items: center; cursor: grab;">
                        <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>                
                        <semantic-link iri='[[resolvePrefix "rsp:ThinkingFrames"]]' 
                                        urlqueryparam-resource='{{item.value}}' 
                                        urlqueryparam-view='entity-editor' 
                                        class='a-draggable'
                                        >
                          <div style="display: flex; align-items: center;">
                          {{itemLabel.value}}
                          </div>
                        </semantic-link>
                      </div>
                    </mp-draggable>
                  </template>

                  <template id='technique'>
                    <semantic-query query='SELECT DISTINCT ?technique ?techniqueLabel WHERE {
                                            <{{subject.value}}> crm:used_specific_technique ?technique . 
                                            ?technique crm:P71i_is_listed_in <http://ccd-tna.kartography.cloud/resource/vocab/analytical_technique> .
                                            ?technique <http://www.w3.org/2004/02/skos/core#prefLabel> ?techniqueLabel .
                                            
                                          } ORDER BY ASC(?techniqueLabel)'
                                    >
                      <template id='template'>
                        <div>
                          {{#each bindings}}
                          <mp-draggable iri='{{technique.value}}'>
                            <div style="display: flex; align-items: center; cursor: grab;">
                              <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>
                              <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" draggable='false'
                                              urlqueryparam-view='entity-editor' urlqueryparam-resource-iri='{{technique.value}}'
                                              class='a-draggable' title='{{techniqueLabel.value}}'
                                              >
                                {{techniqueLabel.value}}
                              </semantic-link>
                            </div>
                          </mp-draggable>
                          {{/each}}
                        </div>
                      </template>
                    </semantic-query>
                  </template>
                  
              </semantic-table>
            [[else]]
              <semantic-table id='semantic-search-result-table'
                              query='SELECT DISTINCT ?subject ?iri ?typeLabel WHERE {
                                      BIND(?subject as ?iri) .
                                      ?subject a ?type .
                                      ?type rdfs:label ?typeLabel .
                                      FILTER (lang(?typeLabel) = "en")
                                    } 
																		#ORDER BY ?subject
																		'

                              options='{"showFilter":false, "resultsPerPage":10}' 
                              column-configuration='[
                                    {"variableName": "typeLabel", "displayName": "Type", "cellTemplate": "{{> type}}" },
                                    {"variableName": "subject", "displayName": "Label", "cellTemplate": "{{> label}}" }
                                    ]'   
              >

                <template id='type'>
                  <div class="search-result-table__type" style="display: flex; align-items: center;">
                    <i class="rs-icon rs-icon-drag_points"></i>
                    <mp-draggable iri='{{iri.value}}'>
                      <div class="search-result-table__type-value">{{typeLabel.value}}</div>
                    </mp-draggable>
                  </div>
                  
                </template>

                <template id='label'>
                  <mp-draggable iri='{{iri.value}}'>
                    <div><mp-label iri='{{iri.value}}'></mp-label></div>
                  </mp-draggable>
                </template>

              </semantic-table>
             [[/if]]
          </semantic-search-result>
        </bs-tab>

        <bs-tab event-key="2" title="Grid" class="search-tab-grid">
          <semantic-search-result>
              [[#if (hasPermission "forms:ldp:*")]]
                <mp-selection-action-choice id='Action' title='With selected ...' selection='item-selection-aggregator'>
                  <mp-create-set-action></mp-create-set-action>
                </mp-selection-action-choice>
              [[/if]]

              <semantic-table
                id='semantic-search-result-grid'
                query='
                SELECT DISTINCT ?subject ?iri WHERE {
                    BIND(?subject as ?iri) .
                } #ORDER BY ?subject
                '
                tuple-template='{{> gridItem }}',
                options='{"showFilter":false, "resultsPerPage":10}'
              >
              <template id='gridItem'>
                <div class='card-select-container'> 
                  [[#if (hasPermission "forms:ldp:*")]]
                  <div class='card-select-input'>
                    <mp-selection-toggle selection="item-selection-aggregator" tag="{{iri.value}}"></mp-selection-toggle>
                  </div>
                [[/if]]
                  <mp-draggable iri='{{iri.value}}'>
                    <div class="rs-card-container">
                    {{#bind iri=iri.value}}
                      {{> rsp:itemCardTemplate}}
                    {{/bind}}
                    </div>
                  </mp-draggable>
                </div>
              </template>
              </semantic-table>
          </semantic-search-result>
        </bs-tab>

        <bs-tab event-key="3" title="Chart" class="search-tab-chart">
          <semantic-search-result-context ranges='["http://www.w3.org/2004/02/skos/core#Concept", "http://www.cidoc-crm.org/cidoc-crm/E53_Place"]'>
            <semantic-search-result id='semantic-search-result-chart'>
            <mp-component-toolbar>
                <mp-component-toolbar-actions>
                  <semantic-chart-type-selector id='search-result-chart-type-selector' default="bar" types='["line", "bar", "radar", "pie", "donut"]' style='margin-right: 10px;'></semantic-chart-type-selector>
                  <mp-component-toolbar-action-download></mp-component-toolbar-action-download>
                  <mp-component-toolbar-action-save id='persit-component-action' add-to-default-set=true></mp-component-toolbar-action-save>
                </mp-component-toolbar-actions>
                <mp-component-toolbar-component>
                <semantic-chart
                    id='search-result-chart'
                    query='
                      SELECT ?__value__ (COUNT(DISTINCT ?subject) as ?count) WHERE {
                        OPTIONAL { FILTER(?__contextRelationPattern__) }
                        BIND(IF(BOUND(?__value__), ?__value__, "Unknown") as ?__value__)
                      } GROUP BY ?__value__ ORDER BY DESC(?count)
                    '
                    sets='[{
                      "category": "__value__",
                      "value": "count"
                    }]'>
                </semantic-chart>
                </mp-component-toolbar-component>
            </mp-component-toolbar>
            </semantic-search-result>
          </semantic-search-result-context>
        </bs-tab>

     [[!--   <bs-tab event-key="4" title="Timeline" class="search-tab-timeline">
          <div>
              <semantic-search-result>
              <mp-sparql-result-counts id='timeline-search-result-count' query="SELECT DISTINCT ?subject {} LIMIT 100"
                                          template='{{> template}}'
              >
                  <template id='template'>
                  {{#if hasLimit}}
                  <bs-alert bs-style="warning" class="search-results__alert">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      <span class="num-results">
                      There were {{totalNumberOfResults}} results. Only 100 can be visualised on the timeline at once!
                  </span>
                  </bs-alert>
                  {{/if}}
                  </template>
              </mp-sparql-result-counts>
              </semantic-search-result>

              <semantic-search-result-context ranges='["http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span"]'>
              <semantic-search-result  id='semantic-search-result-timeline'>
                  <mp-component-toolbar>
                  <mp-component-toolbar-actions>
                      <mp-component-toolbar-action-save id='persit-component-action' add-to-default-set=true></mp-component-toolbar-action-save>
                  </mp-component-toolbar-actions>
                  <mp-component-toolbar-component>
                      <semantic-timeline
                      id='search-result-timeline'
                      query='PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                              SELECT DISTINCT ?start ?end ?iri WHERE {
                              FILTER(?__contextRelationPattern__).
                              ?__value__ crm:P82a_begin_of_the_begin ?start ;
                                      crm:P82b_end_of_the_end ?end .
                              
                              BIND(?subject as ?iri) .
                              }
                              ORDER BY ?subject
                              LIMIT 100
                      '
                      tuple-template='{{> timelineItem}}'
                      tuple-template-height=50>
                      <template id='timelineItem'>
                          <mp-popover>
                          <mp-popover-trigger placement="top" trigger='["hover"]' root-close='false'>
                              <div data-flex-layout='column top-left'>
                              <p>{{start.value}} - {{end.value}}</p>
                              <semantic-link uri='{{iri.value}}'></semantic-link>
                              </div>
                          </mp-popover-trigger>
                          <mp-popover-content>{{> rsp:itemCardTemplate}}</mp-popover-content>
                          </mp-popover>
                      </template>
                      </semantic-timeline>
                  </mp-component-toolbar-component>
                  </mp-component-toolbar>
              </semantic-search-result>
              </semantic-search-result-context>
          </div>
        </bs-tab>
        --]]

      </bs-tabs>

      <div class="semantic-search-results-actions pull-right" style="display: flex;">
          <semantic-search-result>
            <mp-sparql-download id='csv-result' query="SELECT ?subject WHERE { }"
                                header="text/csv"
                                filename="csv-result.csv"
            >
                <button class="rs-button rs-button-M1--dark" style="margin-right:10px">Download CSV</button>
            </mp-sparql-download>
          </semantic-search-result>
          <semantic-search-result>
            <mp-sparql-download id='json-result' query="SELECT ?subject WHERE { }"
                                header="application/sparql-results+json"
                                filename="json-result.json"
            >
                <button class="rs-button rs-button-M1--dark" style="margin-right:10px">Download JSON</button>
            </mp-sparql-download>
          </semantic-search-result>
          <mp-anonymous-hidden>
            <semantic-search-action-save-set-result id='save-set-result-action'>
                <button class="rs-button rs-button-M1--dark" style="margin-right:10px">Save As Set</button>
            </semantic-search-action-save-set-result>
          </mp-anonymous-hidden>
          <mp-anonymous-hidden>
            <semantic-search-action-save-search-result id='save-search-result-action' add-to-default-set=true>
                <button class="rs-button rs-button-M1--dark" style="margin-right:10px">Save As Search</button>
            </semantic-search-action-save-search-result>
          </mp-anonymous-hidden>
      </div>
    </div>
  </semantic-search-result-holder>
    
</div>
