<semantic-timeline query='prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix frbroo: <https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#>
prefix intro: <https://w3id.org/lso/intro/beta202304#>
prefix owl: <http://www.w3.org/2002/07/owl#>

SELECT DISTINCT ?case (MIN(?fileDate) AS ?start) (MAX(?fileDate) AS ?end)
WHERE {
  GRAPH ?g {
    ?case crm:P12_occurred_in_the_presence_of ?file .    
    ?file crm:P94i_was_created_by / crm:P4_has_time-span / crm:P82a_begin_of_the_begin ?fileDate .
    FILTER ( DATATYPE(?fileDate) = <http://www.w3.org/2001/XMLSchema#date> )
    }
  }
GROUP BY ?case 
' tuple-template="{{> template}}" tuple-template-height="42">
            <template id="template">
                <b>{{case.value}}</b>
                <div>{{caseFrom.value}} - {{caseTo.value}}</div>
            </template>
          </semantic-timeline>