[[!-- 
  This is Template that can be used to browse hierarchical resources or simple collection of resources
  
  variables:
    itemLabel - label that describes collection item, like Term, Concept, Place, Actor, etc;
    membershipPattern - property that connects resource to the collection, like  skos:inScheme, crm:P71i_is_listed_in, etc;
    broaderPattern - (optional) if collection is hierarchical specifies property that is used to refer from item to it's broader resource, like skos:broader, crm:P127_has_broader_term, crm:P89_falls_within, etc;
    orderByPattern - (optional) SPARQL pattern that can be used to get the order
--]]


<div class="rs-vocabulary-terms-container">
  <mp-splitpane min-size=180 default-size=400 default-open='true' class="frame-split-pane">
    <div data-flex-layout="column top-stretch">
      <mp-splitpane-toggle-on>
        <button class="btn-toggle-on">
          <div class="btn-toggle-on-content">
            <div style='text-align: left;
            min-height: 30px;
            display: flex;
            align-items: center;
            padding-bottom: 3px;'>Sample Listing</div>
            <div class="btn btn-grey">
              <i class='iconmoon iconmoon-arrow-right2'></i>
            </div>
          </div>
          
        </button>
      </mp-splitpane-toggle-on>
      <mp-splitpane-toggle-off>
        <div class="split-pane__leftsidebar-header">
          <button data-flex-layout='row center-left' class="btn-toggle-off">
            <div style='text-align: left;
            min-height: 30px;
            display: flex;
            align-items: center;'>
            <h1>Sample Listing {{Title}}</h1>
            </div>
            <div class="page__main-top-actions">
              {{#if editable}}
              <mp-event-trigger id='{{frameId}}-form-new-trigger' type='Component.TemplateUpdate' data='{"mode": "new", "entityTypeConfig": "{{rootEntityConfig}}"}' targets='["{{frameId}}-term-forms"]'>
                  <button class="btn btn-grey">
                    <i class='fa fa-plus btn-icon-left'></i>
                    <span>Add New</span>
                  </button>
              </mp-event-trigger>
              {{/if}}
              <button class="btn btn-grey">
                <i class='iconmoon iconmoon-arrow-left2'></i>
              </button>
            </div>
          </button>
        </div>
      </mp-splitpane-toggle-off>
      <mp-splitpane-sidebar-open style="flex: 1;">
        <div class="split-pane__sidebar-open">
          
          <div class="rs-vocabulary-terms-area">
            <mp-event-target-template-render id='{{frameId}}-mytree'  template='{{> treeTemplate}}'>
              <template id='treeTemplate'>
                <semantic-lazy-tree id='{{frameId}}-scheme-tree' info-template='{{> template}}' type='simple'  focused='{{iri}}' page-size='10000'
                                    config='{"scheme": "{{collection}}", 
                                            {{#if labelSparqlPattern}}
                                            "labelPattern": "{{labelSparqlPattern}}",
                                            {{/if}}
                                            {{#if broaderPattern}}
                                            "relationPattern": "{{broaderPattern}}",
                                            {{/if}}
                                            {{#if orderByPattern}}
                                            "orderByPattern": "{{orderByPattern}}",
                                            {{/if}}
                                            "schemePattern": "{{membershipPattern}}"
                                            }'>
                  <template id='template'>
                    <span class="tree-item-actions-container">
                      {{#if editable}}
                        <mp-event-trigger id='{{frameId}}-form-edit-trigger--{{iri}}' type='Component.TemplateUpdate'
                                          data='{"iri":"{{iri}}",  "mode": "edit" }' targets='["{{frameId}}-term-forms"]'>
                          <span class='tree-item-action' style="margin-right: 7px;"><i class='fa fa-pencil' title="Edit {{itemLabel}}"></i></span>
                        </mp-event-trigger>
                        <mp-event-proxy id='{{frameId}}-focus-tree-element' on-event-source='{{frameId}}-form-edit-trigger--{{iri}}' proxy-event-type='LazyTree.Focus' proxy-targets='["{{frameId}}-scheme-tree"]' data='{"iri":"{{iri}}"}'></mp-event-proxy>
                      {{else}}
                        <mp-event-trigger id='{{frameId}}-form-edit-trigger' type='Component.TemplateUpdate'
                                          data='{"iri":"{{iri}}",  "mode": "view" }' targets='["{{frameId}}-term-forms"]'>
                          <span class='tree-item-action' style="margin-right: 7px;"><i class='fa fa-file' title="View {{itemLabel}}"></i></span>
                        </mp-event-trigger>
                      {{/if}}
                    </span>
                  </template>
                </semantic-lazy-tree> 
              </template>
            </mp-event-target-template-render>
          </div>
        </div>
      </mp-splitpane-sidebar-open>
    </div>
      <div class="page__grid-container">

        <div class="page__content-container rs-vocabulary-terms-form-area">
          <mp-event-target-template-render id='{{frameId}}-term-forms' template='{{> template}}'>
            <template id='template'>
              {{#if mode}}
              <mp-event-proxy id='{{frameId}}-tree-refresh-on-created' 
                              on-event-source='{{frameId}}-vocab-form' 
                              on-event-types='["Form.ResourceCreated", "Form.ResourceUpdated"]'
                              proxy-event-type='Component.TemplateUpdate' 
                              proxy-targets='["{{frameId}}-mytree", "{{frameId}}-term-forms"]'
                              additional-data='{"mode": "edit"}'
                              ></mp-event-proxy>
    
              <mp-event-proxy id='{{frameId}}-tree-refresh-on-delete' 
                              on-event-source='{{frameId}}-vocab-form' 
                              on-event-types='["Form.ResourceRemoved"]'
                              proxy-event-type='Component.TemplateUpdate' 
                              proxy-targets='["{{frameId}}-mytree", "{{frameId}}-term-forms"]'
                              additional-data='{"iri": "", "mode": ""}'
                              ></mp-event-proxy>
              
               <inline-template template-iri='[[resolvePrefix "rsp:EntityEditor"]]' 
                                  options='{
                                            {{#if (not (eq mode "new"))}}"iri": "{{iri}}",{{/if}}
                                            {{#if data.additional_data}}"additional-data":{{{stringify data.additional_data}}},{{/if}}
                                            "editable": {{editable}},
                                            "mode": "{{mode}}",
                                            {{#if broader}}"broader": "{{broader}}",{{/if}}
                                            "broaderPropertyIRI": {{#if broaderProperty}}"{{broaderProperty}}"{{else}}null{{/if}},
                                            "dashboardId": "{{frameId}}",
                                           "data": {
                                             "mode": "{{mode}}",
                                              {{#if broader}}"broader": "{{broader}}",{{/if}}
                                             "entityTypeConfig": "{{entityTypeConfig}}"
                                           }
                                           	
                                  }'>
                </inline-template>
              {{/if}}
            </template>
          </mp-event-target-template-render>
        </div>
      </div>
  </mp-splitpane>
</div>

