<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page">
  
  <div style="display:block;width:100%;margin:0 auto;height:300px">
                <img style="width:100%;position:absolute;z-index:-1;top:0;left:0;" src="https://www.maxpixel.net/static/photo/2x/Ai-Abstract-Atom-Large-Blue-Business-Background-4626114.jpg">
  </div>
  <div class="container-fluid" style="background-color:white;min-height:50vh">
     <bs-row class="row-center">
     		<!-- <img style="width:600px" src="[todo: SK-logo]" alt=""> -->
      </bs-row>
     <bs-row class="row-center">
       <h1>Semantic Kraus - Exploration platform</h1>
     </bs-row>
    <bs-row class="row-center">
      <bs-col xs="8">
            <bs-row>
              <bs-col xs="12" md="4">
                <p>
                  
                  <semantic-link iri="app:About">[todo: intro to SK:] Read more ...]</semantic-link></p>
                <p><semantic-link uri="https://sk.acdh.oeaw.ac.at/pmb11988">Sample: Karl Kraus</semantic-link></p>
                <p><semantic-link uri="https://sk.acdh.oeaw.ac.at/DWpers0188">Sample: Oscar Pollak</semantic-link></p>
                <p><semantic-link uri="https://sk.acdh.oeaw.ac.at/DWpers1058">Sample: Magnus von Levetzow</semantic-link></p>
                <p><semantic-link uri="https://sk.acdh.oeaw.ac.at/DWbibl00736">Sample: Newspaper Article</semantic-link></p>
                <p><semantic-link uri="https://sk.acdh.oeaw.ac.at/D_000068-053-000">Sample: Court File</semantic-link></p>
                <p><semantic-link uri="sk:test_timeline">Experimental: Timeline</semantic-link></p>
              </bs-col>
            </bs-row>
        		<bs-row>
              
              <bs-col>
                <h3><mp-link  url="sk:model">Model</mp-link ></h3>
                <h3><mp-link  url="/sparql">SPARQL Interface</mp-link ></h3>
                <h3><semantic-link iri="app:Overview">Data Overview</semantic-link></h3>
                <h3><semantic-link url="https://sk.acdh-dev.oeaw.ac.at/resource/:SimpleSearchInclude">[todo: Search]</semantic-link></h3>
              </bs-col>
            </bs-row>
          </bs-col>
      </bs-row>
  </div>
</div>


