<div class="page__header-body content-container">
	<div>
		<h1 class="entity-title">
			[[#if (ask "ASK { {SELECT ?type WHERE {?? a ?type . FILTER (?type IN (crm:E21_Person, frbroo:F22_Self-Contained_Expression, frbroo:F24_Publication_Expression, crm:E5_Event, crm:E73_Information_Object, crm:E53_Place, crm:E74_Group, intro:INT1_TextPassage, <http://www.w3.org/ns/sparql-service-description#NamedGraph> ) ) } } }")]]
			<semantic-query query="SELECT DISTINCT ?type WHERE { ?? a ?type . FILTER NOT EXISTS { ?? frbroo:R5_has_component ?comp . } }" template="{{> icon-template}}">
				<template id="icon-template">
					{{#each bindings}}
						{{#switch type.value}}
							{{#case "http://www.cidoc-crm.org/cidoc-crm/E21_Person" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/person.svg" />
							{{/case}}
							{{#case "https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#F22_Self-Contained_Expression" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/self-contained-expression.svg" />
							{{/case}}
							{{#case "http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/text.svg" />
							{{/case}}
							{{#case "http://www.cidoc-crm.org/cidoc-crm/E53_Place" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/place.svg" />
							{{/case}}
							{{#case "http://www.cidoc-crm.org/cidoc-crm/E74_Group" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/group.svg" />
							{{/case}}
							{{#case "https://w3id.org/lso/intro/beta202304#INT1_TextPassage" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/text-passage.svg" />
							{{/case}}
							{{#case "http://www.w3.org/ns/sparql-service-description#NamedGraph" break=true}}
							<img alt="" class="type-icon" src="/assets/icons/graph.svg" />
							{{/case}}
							{{#case "https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#F24_Publication_Expression" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/publication-expression.svg" />
							{{/case}}
							<!-- Type  -->
						{{/switch}}
					{{/each}}
				</template>
			</semantic-query>
			<semantic-query query="SELECT DISTINCT ?type WHERE { ?? a ?type . { ?? crm:P2_has_type 
				<https://sk.acdh.oeaw.ac.at/types/event/legal-case> } UNION { ?? frbroo:R5_has_component ?comp }. }" template="{{> icon-template}}">
				<template id="icon-template">
					{{#each bindings}}
						{{#switch type.value}}
							{{#case "http://www.cidoc-crm.org/cidoc-crm/E5_Event" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/event.svg" />
							{{/case}}
							{{#case "https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#F24_Publication_Expression" break=true}}
								<img alt="" class="type-icon" src="/assets/icons/publication-expression-with-children.svg" />
							{{/case}}
						{{/switch}}
					{{/each}}
				</template>
			</semantic-query>
			[[else]]
			<img alt="" class="type-icon" src="/assets/icons/entity.svg" />
			[[/if]]
			<mp-label iri='[[this]]'></mp-label>
		</h1>

		<dl>
			<dt>URI:</dt>
			<dd>
				<a href='[[this]]' target='_blank'><span>[[this]]</span>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
			</dd>
			<dt>Type:</dt>
			<dd>
				<semantic-query query="SELECT DISTINCT ?type WHERE { ?? a ?type }"></semantic-query>
			</dd>
		</dl>
	</div>
</div>
