<nav aria-label="Breadcrumbs" class="page-breadcrumbs">
	<ol class="page-breadcrumb">
		<li>
			<mp-link title="Home" url="/">Home</mp-link>
		</li>
		<li class="active">
			<mp-label iri="[[this]]"></mp-label>
		</li>
	</ol>
</nav>

<main class="page">
	<section class="page-section container-width-prose prose">
		<h1>Contact</h1>
		
		<p>
      For questions of any kind please contact <a href= "mailto:bernhard.oberreither@oeaw.ac.at">bernhard.oberreither@oeaw.ac.at</a>.
    </p>
	</section>
</main>
