<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri="[[this]]"></mp-label>
  </li>
</ol>

<div class="page container">
  <div class="page__header-navtabs page-section">
    <div class="page__header-body" style="width: 100%">
      <h1>
        <mp-label iri="[[this]]"></mp-label>
      </h1>

      <!--Description -->
      <p>
        This page offers overview of the corpora contained in the catalogue. It offers a full list of available corpora together with basic metadata categories, as well as a quantitative analysis of the corpus collection by basic metadata categories.
      </p>
      <!-- Highlighted Corpora -->
      <h2 style="margin-top: 48px;">Take a look at out our most popular corpora</h2>
      <div class="home-page__grid mt-3">
        <div class="home-page__grid-item">
          <semantic-link iri="https://clscor.io/entity/135083e3e8">
            <h3>
              <img src="/assets/icons/corpus.svg" height="20" width="20" alt="corpus icon" class="entity_icon"/> European Literary Text
              Collection
            </h3>
            <p></p></semantic-link>
        </div>
        <div class="home-page__grid-item">
          <semantic-link iri="https://clscor.io/entity/9ab7e9556c">
          <h3>
            <img src="/assets/icons/corpus.svg" height="20" width="20" alt="corpus icon" class="entity_icon" />Reference corpus Middle High
            German
          </h3>
          <p></p>
        </semantic-link></div>
      
        <div class="home-page__grid-item">
          <semantic-link iri="https://clscor.io/entity/a963b9e045">
          <h3>
            <img src="/assets/icons/corpus.svg" height="20" width="20" alt="corpus icon" class="entity_icon" />Project Gutenberg
          </h3>
          <p></p>
        </semantic-link></div>
      </div>
    </div>
    <!-- Search Corpora -->
    <!-- <h2 style="margin-top: 24px;">Or search all of them: </h2> -->
    <bs-panel header="Or view and search all [[singleValueFromSelect 'SELECT (count(distinct ?corpus) as ?count)  WHERE {?corpus a crmcls:X1_Corpus. }']] corpora" collapsible="true">
      <semantic-table
        column-configuration='[
        {"displayName": "Corpus", "variableName": "corpus"},
        {"displayName": "Acronym", "variableName": "acronym"},
        {"displayName": "Text count (asserted)", "variableName": "textCountAsserted"},
        {"displayName": "Text count (computed)", "variableName": "textCount"},
        {"displayName": "Languages", "variableName": "languages"},
        {"displayName": "Genres", "variableName": "genres"},
        {"displayName": "Time Span", "variableName": "timeSpan"},
        {"displayName": "Corpus Type", "variableName": "corpusTypes"},
        {"displayName": "Subcorpora", "variableName": "subcorpus"}
      ]'
        query="
      	SELECT
        ?corpus
        (MAX(?acronym) as ?acronym)
        (count(distinct ?document) as ?textCount) 
        (MAX(?textCountAsserted) as ?textCountAsserted)
        (group_concat(distinct ?langLabel;separator=', ') as ?languages) 
        (group_concat(distinct ?genreLabel;separator=', ') as ?genres)
        (group_concat(distinct ?corpusTypeLabel;separator=', ') as ?corpusTypes)
        (group_concat(distinct ?timeSpanLabel;separator=', ') as ?timeSpan)
        (COUNT(distinct ?subcorpus) as ?subcorpus)
        WHERE {
          ?corpus a crmcls:X1_Corpus .
          
          ?corpus crm:P148_has_component ?x11 .
          ?x11 a crmcls:X11_Prototypical_Document .

          OPTIONAL {
            ?corpus crm:P1_is_identified_by ?appellation .
            ?appellation crm:P2_has_type <https://clscor.io/entity/type/appellation/acronym> .
            ?appellation rdf:value ?acronym .
          }
          OPTIONAL {
            ?corpus crm:P148_has_component|lrm:R71_has_part|^lrm:R71i_is_part_of|^crm:P148i_is_component_of ?document .
            ?document a crmcls:X2_Corpus_Document
          }
          OPTIONAL {
            ?e13_text_count crm:P140_assigned_attribute_to ?corpus .
            ?e13_text_count a crm:E13_Attribute_Assignment ;
            crm:P141_assigned ?e54_text_count .
            ?e54_text_count a crm:E54_Dimension .
            ?e54_text_count crm:P90_has_value ?textCountAsserted .
          }
          OPTIONAL {
            ?e13_lang crm:P140_assigned_attribute_to ?x11 .
            ?e13_lang a crm:E13_Attribute_Assignment ;
            crm:P177_assigned_property_of_type crm:P72_has_Language ;
            crm:P141_assigned ?lang .
            ?lang rdfs:label ?langLabel .
          }
          OPTIONAL {
            ?e13_genre crm:P140_assigned_attribute_to ?x11 .
            ?e13_genre a crm:E13_Attribute_Assignment ;
                  crm:P177_assigned_property_of_type crm:P2_has_type ;
                  crm:P141_assigned ?genre .
            ?genre crm:P71i_is_listed_in <https://clscor.io/entity/type/literary_genre> ;
                        rdfs:label ?genreLabel .
          }
          OPTIONAL {
            ?e13_type crm:P140_assigned_attribute_to ?corpus .
            ?e13_type a crm:E13_Attribute_Assignment ;
                   crm:P177_assigned_property_of_type crm:P2_has_type ;
                   crm:P141_assigned ?corpusType .
              ?corpusType crm:P71i_is_listed_in <https://clscor.io/entity/type/corpus> ;
                          rdfs:label ?corpusTypeLabel .
          }
          OPTIONAL {
            ?e13_time crm:P140_assigned_attribute_to ?corpus .
            ?e13_time a crm:E13_Attribute_Assignment ;
                   crm:P177_assigned_property_of_type crm:P4_has_time-span ;
                   crm:P141_assigned ?timeSpan .
            ?timeSpan rdfs:label ?timeSpanLabel .
          }
          OPTIONAL {
            ?subcorpus crmcls:Y4i_is_subcorpus_of ?corpus .
          }
        }
        group by ?corpus
        order by desc(?textCount)
        "
      ></semantic-table>
    </bs-panel>

    <!-- Statistics -->
    
    <h2 style="margin-top: 48px;">Corpus statistics </h2>
    <bs-tabs id="tabs" class="page__body-navtabs stats-tabs" unmount-on-exit="true" style="min-height: 450px">
      <!-- Languages -->
      <bs-tab event-key="4" class="tab-statsList" title="Languages">
        <semantic-chart
          provider="chartjs"
          type="bar"
          query="select ?lang (count(?lang) as ?langCount)
          where {
            ?e13 a crm:E13_Attribute_Assignment ;
                 crm:P177_assigned_property_of_type crm:P72_has_Language ;
                 crm:P141_assigned ?lang .
            ?lang rdfs:label ?label .
          }
          group by ?lang
          having (count(?lang) > 2)
          order by desc(?langCount)
          "
          sets='[{"dataSetName": "Count in Dataset", "category": "lang", "value": "langCount"}]'
          styles='[{
            "provider": "chartjs",
            "style": {
              "data": {
                "datasets": [
                  {
                    "backgroundColor": "#159da5aa",
                    "borderColor": "#159da5aa"
                  }
                ]
              },
              "options": {
                  "legend": {
                    "display": false
                  }
              }
            }
          }]'
        ></semantic-chart>
        <!-- <hr />
        <semantic-table
          query="
          select ?lang (count(?lang) as ?langCount)
          where {
            ?e13 a crm:E13_Attribute_Assignment ;
                 crm:P177_assigned_property_of_type crm:P72_has_Language ;
                 crm:P141_assigned ?lang .
            ?lang rdfs:label ?label .
          }
          group by ?lang
          order by desc(?langCount)
      "
        ></semantic-table> -->
      </bs-tab>
      <!-- Languages -->
      <!-- Formats -->
      <bs-tab event-key="5" class="tab-statsList" title="Formats">
        <semantic-chart
          provider="chartjs"
          type="bar"
          query="select ?format (count(?format) as ?formatCnt)
          where {
            ?e13 a crm:E13_Attribute_Assignment ;
                crm:P177_assigned_property_of_type crmcls:Y2_has_format ;
                crm:P141_assigned [rdfs:label ?format] .
          }
          group by ?format 
          order by desc(?formatCnt)
          "
          sets='[{"dataSetName": "Count in Dataset", "category": "format", "value": "formatCnt"}]'
          styles='[{
            "provider": "chartjs",
            "style": {
              "data": {
                "datasets": [
                  {
                    "backgroundColor": "#159da5aa",
                    "borderColor": "#159da5aa"
                  }
                ]
              },
              "options": {
                  "legend": {
                    "display": false
                  }
              }
            }
          }]'
        ></semantic-chart>
        <!-- <hr />
        <semantic-table
          query="
      select ?format (count(?format) as ?formatCnt)
      where {
        ?e13 a crm:E13_Attribute_Assignment ;
            crm:P177_assigned_property_of_type crmcls:Y2_has_format ;
            crm:P141_assigned [rdfs:label ?format] .
      }
      group by ?format 
      order by desc(?formatCnt)
      "
        ></semantic-table> -->
      </bs-tab>
      <!-- Formats -->
      <!-- CorpusType -->
      <bs-tab event-key="6" class="tab-statsList" title="CorpusTypes">
        <semantic-chart
          provider="chartjs"
          type="bar"
          query="select ?corpusTypeLabel (count(?corpusType) as ?corpusTypeCnt)
          where {
            ?e13 a crm:E13_Attribute_Assignment ;
                 crm:P177_assigned_property_of_type crm:P2_has_type ;
                 crm:P141_assigned ?corpusType .
            ?corpusType crm:P71i_is_listed_in <https://clscor.io/entity/type/corpus> ;
                        rdfs:label ?corpusTypeLabel .
          }
          group by ?corpusTypeLabel
          order by desc(?corpusTypeCnt)
          "
          sets='[{"dataSetName": "Count in Dataset", "category": "corpusTypeLabel", "value": "corpusTypeCnt"}]'
          styles='[{
            "provider": "chartjs",
            "style": {
              "data": {
                "datasets": [
                  {
                    "backgroundColor": "#159da5aa",
                    "borderColor": "#159da5aa"
                  }
                ]
              },
              "options": {
                  "legend": {
                    "display": false
                  }
              }
            }
          }]'
        ></semantic-chart>
        <!-- <hr />
        <semantic-table
          query="
          select ?corpusTypeLabel (count(?corpusType) as ?corpusTypeCnt)
          where {
            ?e13 a crm:E13_Attribute_Assignment ;
                 crm:P177_assigned_property_of_type crm:P2_has_type ;
                 crm:P141_assigned ?corpusType .
            ?corpusType crm:P71i_is_listed_in <https://clscor.io/entity/type/corpus> ;
                        rdfs:label ?corpusTypeLabel .
          }
          group by ?corpusTypeLabel
          order by desc(?corpusTypeCnt)
      "
        ></semantic-table> -->
      </bs-tab>
      <!-- CorpusType -->
      <!-- LiteraryGenres -->
      <bs-tab event-key="7" class="tab-statsList" title="LiteraryGenres">
        <semantic-chart
          provider="chartjs"
          type="bar"
          query="select ?genre (count(?genre) as ?genreCnt)
          where {
          ?e13 a crm:E13_Attribute_Assignment ;
                crm:P177_assigned_property_of_type crm:P2_has_type ;
                crm:P141_assigned ?genre .
          ?genre crm:P71i_is_listed_in <https://clscor.io/entity/type/literary_genre> ;
                      rdfs:label ?genreLabel .
          }
          group by ?genre 
          order by desc(?genreCnt)
          "
          sets='[{"dataSetName": "Count in Dataset", "category": "genre", "value": "genreCnt"}]'
          styles='[{
            "provider": "chartjs",
            "style": {
              "data": {
                "datasets": [
                  {
                    "backgroundColor": "#159da5aa",
                    "borderColor": "#159da5aa"
                  }
                ]
              },
              "options": {
                  "legend": {
                    "display": false
                  }
              }
            }
          }]'
        ></semantic-chart>
        <!-- <hr />
        <semantic-table
          query="
          select ?genre (count(?genre) as ?genreCnt)
          where {
          ?e13 a crm:E13_Attribute_Assignment ;
                crm:P177_assigned_property_of_type crm:P2_has_type ;
                crm:P141_assigned ?genre .
          ?genre crm:P71i_is_listed_in <https://clscor.io/entity/type/literary_genre> ;
                      rdfs:label ?genreLabel .
          }
          group by ?genre 
          order by desc(?genreCnt)
      "
        ></semantic-table> -->
      </bs-tab>
      <!-- LiteraryGenres -->
      <!-- Features -->
      <bs-tab event-key="8" class="tab-statsList" title="Features">
        <semantic-chart
          provider="chartjs"
          type="bar"
          query="select ?feature (count(?feature) as ?featureCnt)
          where {
            ?e13 a crm:E13_Attribute_Assignment ;
                 crm:P177_assigned_property_of_type crmcls:Y1_exhibits_feature ;
                 crm:P141_assigned ?feature .
            ?feature crm:P71i_is_listed_in <https://clscor.io/entity/type/feature> ;
                        rdfs:label ?featureLabel .
          }
          group by ?feature 
          order by desc(?featureCnt)
          "
          sets='[{"dataSetName": "Count in Dataset", "category": "feature", "value": "featureCnt"}]'
          styles='[{
            "provider": "chartjs",
            "style": {
              "data": {
                "datasets": [
                  {
                    "backgroundColor": "#159da5aa",
                    "borderColor": "#159da5aa"
                  }
                ]
              },
              "options": {
                  "legend": {
                    "display": false
                  }
              }
            }
          }]'
        ></semantic-chart>
       <!--  <hr />
        <semantic-table
          query="
          select ?feature (count(?feature) as ?featureCnt)
          where {
            ?e13 a crm:E13_Attribute_Assignment ;
                crm:P177_assigned_property_of_type crmcls:Y1_exhibits_feature ;
                crm:P141_assigned ?feature .
            ?feature crm:P71i_is_listed_in <https://clscor.io/entity/type/feature> ;
                        rdfs:label ?featureLabel .
          }
          group by ?feature 
          order by desc(?featureCnt)
      "
        ></semantic-table> -->
      </bs-tab>
      <!-- LiteraryGenres -->
    </bs-tabs>
  </div>
</div>
