<nav aria-label="Breadcrumbs" class="page-breadcrumbs">
	<ol class="page-breadcrumb">
		<li>
			<mp-link title="Home" url="/">Home</mp-link>
		</li>
		<li class="active">
			<mp-label iri="[[this]]"></mp-label>
		</li>
	</ol>
</nav>

<main class="page">

		
  <section class="page-section">
		<h1>The SemanticKraus Project Data Model and Ontology</h1>
    <semantic-query query="SELECT DISTINCT ?comment WHERE { <https://sk.acdh.oeaw.ac.at/model> rdfs:comment ?comment .}" template="{{> template}}">
      <template id="template">
        {{#each bindings}}<div>{{comment.value}}</div>{{/each}}
      </template>
      </semantic-query>
  </section>
  
  <section class="page-section">
    <semantic-query query="SELECT DISTINCT ?title ?creator ?version WHERE 
                           { <https://sk.acdh.oeaw.ac.at/model> <http://purl.org/dc/terms/title> ?title ;
                               <http://purl.org/dc/elements/1.1/creator> ?creator ;
                               owl:versionInfo ?version . }"
                    template="{{> template}}">
      <template id="template">
        {{#each bindings}}<h4>Title: {{title.value}}</h4>
        <div>Creator: {{creator.value}}</div>
        <div>Version: {{version.value}}</div>
        <div>Github: <a href="https://github.com/semantic-kraus/sk_general/blob/main/sk_model.trig">sk_model.trig</a></div>{{/each}}
      </template>
      </semantic-query>
  </section>
  
  <section class="page-section">
    <h2 class="page-section__title">Ontologies Re-Used</h2>
    <semantic-query query="SELECT DISTINCT ?onto WHERE { GRAPH <https://sk.acdh.oeaw.ac.at/model> { ?s rdfs:isDefinedBy ?onto } }" template="{{> template}}">
      <template id="template">
        {{#each bindings}}<div>{{onto.value}}</div>{{/each}}
      </template>
      </semantic-query>
  </section>
  
    <section class="page-section">
		<h2 class="page-section__title">Data Model Visualization</h2>
<img src="https://raw.githubusercontent.com/semantic-kraus/sk_general/main/img/model_full.svg" alt="Data Model Visualization"  style="max-width: 100%; height: auto;">
  </section>
  
  
</main>
