<semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                    urlqueryparam-view='authority-content' 
                    urlqueryparam-resource='[[authorityScheme]]'
                    urlqueryparam-frame=true
                    style="display: flex;"
                >
    <button class="semantic-form-tree-picker-input__create-button btn btn-default" 
    style="[[#if noMargin]][[else]] {{#if isUsedInProjectTable}}margin-top: 49.5px;{{else}}margin-top: 48px;{{/if}} [[/if]]"><i class="fa fa-book"></i></button>
</semantic-link>