<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql", "targetGraphIri": "http://www.researchspace.org/assets/images"}'
                new-subject-template='/EX_Digital_Image/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
                fields='[[fieldDefinitions
                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
                            
                            image_id="http://www.researchspace.org/image/P1_is_identified_by"
                            image_label="http://www.researchspace.org/image/label"
                            image_description="http://www.researchspace.org/entity/description"
                          ]]'
              >
              
  <div class="form-scroll-area">
    <semantic-form-hidden-input for='classtype' default-values='["http://www.researchspace.org/ontology/EX_Digital_Image"]'> </semantic-form-hidden-input>
    <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/vocab/conservation_entities/image'> </semantic-form-hidden-input>

    <div style="margin-top: -25px;">
      <div style="display: flex; align-items:stretch; column-gap:30px; flex-wrap: wrap;">
        <div style="min-width: 330px;">
          <semantic-form-file-input for='image_id' 
                                  label='Image file'
                                  accept-pattern='image/*' 
                                  storage='images'
                                  temp-storage='tmp'
                                  placeholder='Drop file here to upload'
                                  name-predicate-iri='http://www.researchspace.org/ontology/PX_has_file_name'
                                  media-type-predicate-iri='http://www.researchspace.org/ontology/PX_has_media_type'
                                  resource-query='
                                    PREFIX rso: <http://www.researchspace.org/ontology/>
                                    CONSTRUCT {
                                      ?__resourceIri__ a rso:EX_File.
                                      ?__resourceIri__ rso:PX_has_file_name ?__fileName__.
                                      ?__resourceIri__ rso:PX_has_media_type ?__mediaType__.
                                    } WHERE {}

                                  '
                                  generate-iri-query='
                                    SELECT ?resourceIri {
                                      BIND(IRI(CONCAT(STR(Default:), "EX_File/", ?__fileName__)) AS ?resourceIri) .
                                    }

                                  '
          ></semantic-form-file-input>
        </div>
        <div style="flex: 1;">
          <semantic-form-text-input for='image_label' label='Image filename' placeholder='Enter image filename'></semantic-form-text-input>
          <semantic-form-text-input for='image_description' label='Image description' placeholder='Enter image description' multiline='true'></semantic-form-text-input>
        </div>
      </div>
    </div>

 </div>
  
 <semantic-form-errors></semantic-form-errors>
  [[> rsp:FormDefaultActions formEntity='image' assetForm=true assetStorage='tmp']]
</semantic-form>
