  <ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Overview</li>
</ol>


<div class="page">
  
  <div class="page__body">
    <h1>Overview</h1>

    <h2>Sources</h2>
		<semantic-table
             query="PREFIX dct: <http://purl.org/dc/terms/>

SELECT ?g ?cnt ?created ?creator WHERE { {SELECT DISTINCT ?g (COUNT(DISTINCT ?s) as ?cnt) WHERE { GRAPH ?g { ?s ?p ?o . } } GROUP BY ?g }
  OPTIONAL {?g dct:created ?created; dct:creator ?creator; }
}" 
       number-of-displayed-rows="50"
       column-configuration='[
               {
    						"displayName": "Graph", 
    						"cellTemplate": "{{> graph-link}}" 
    						},
               {"displayName":"Count distinct subjects",                
                "cellTemplate": "{{>linktoclassprovenance}}" 
               },            
              {"variableName":"created", "displayName":"Created"},                                    
              {"variableName":"creator", "displayName":"Creator"}               
             ]'
                    >
        <template id='graph-link'>
        <semantic-link uri="[[resolvePrefix "Admin:NamedGraphs"]]" urlqueryparam-graph='{{g.value}}'>{{g.value}}</semantic-link>
        </template>
             	<template id="linktoclassprovenance" >                
                 <a href="./acdhu:ClassProvenance?graph={{encodeUriComponent g.value}}">{{cnt.value}}</a>
                </template>

      </semantic-table>
  
    <h2> Top ten classes </h2>
        <semantic-chart
    provider="chartjs"
    type="bar"
    query="SELECT  ?type (count( ?sub) as ?cnt_type )  WHERE {  ?sub a ?type } GROUP BY ?type ORDER BY DESC(?cnt_type) LIMIT 10"
    sets='[{"dataSetName": "Top ten types", "category": "type", "value": "cnt_type"}]'
         ></semantic-chart>


<h2>List of all classes with their frequencies</h2>
    
       <mp-sparql-result-counts id='query-count'
                                     query="SELECT  DISTINCT ?type  WHERE {  ?sub a ?type }"
                                     template='{{#if hasLimit}} <bs-alert bs-style="warning">
                                               Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert>
                                               {{else}}<span>Found {{numberOfResults}} distinct (used) classes </span>{{/if}}'>
            </mp-sparql-result-counts>
    
<semantic-table
             query="SELECT  ?type (count( ?sub) as ?cnt_sub )  WHERE {  ?sub a ?type } GROUP BY ?type ORDER BY DESC(?cnt_sub)"
             number-of-displayed-rows=50
             column-configuration='[
               {"variableName":"type", "displayName":"Class"},                
              {"variableName":"cnt_sub", "displayName":"Count instances"},                                    
               {
    						"displayName": "Class URI", 
    						"cellTemplate": "<div>{{type.value}}</div>" 
    						}
             ]'
             options='{
               "showFilter":true
             }'
           >
           </semantic-table>
 
    
<h2>Properties</h2>
    
<mp-sparql-result-counts id='query-count'
                                     query="SELECT DISTINCT ?p WHERE {[] ?p []}"
                                     template='{{#if hasLimit}} <bs-alert bs-style="warning">
                                               Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert>
                                               {{else}}<span>Currently <b>{{numberOfResults}}</b> distinct properties in use</span>{{/if}}'>
            </mp-sparql-result-counts>    

<semantic-table
             query=" SELECT ?p (COUNT(?p) as ?pCount)
  WHERE {[] ?p []}
  GROUP BY ?p
ORDER BY DESC(?pCount)
"
             number-of-displayed-rows=50
             column-configuration='[
               {"variableName":"p", "displayName":"Property"}, 
               {"variableName":"pCount", "displayName":"Count of triples"}
             ]'
             options='{
               "showFilter":true
             }'
           >
            
          
    
           </semantic-table>
      
    
  </div>
  
</div>

