<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri="[[this]]"></mp-label>
  </li>
</ol>

<div class="page container">
  <div class="page__header-navtabs page-section">
    <div class="page__header-body" style="width: 100%">
      <h1>
        <mp-label iri="[[this]]"></mp-label>
      </h1>

      <!--Description -->
      <p>
        This page provides an inventory of tools for processing texts compiled 
        during the CLS INFRA project. The data consists of curated and harmonised 
        information from the deliverables <a href="https://zenodo.org/records/14294801" target="_blank">D8.1</a> 
        (updated and enhanced in <a href="https://zenodo.org/records/11094000" target="_blank">D8.2</a>) as 
        well as tools and scripts developed within the project and the <a href="https://github.com/veldhub" target="_blank">registry 
        of VELDs</a> (for more information on VELD check out the <a href="https://zenodo.org/records/13322913" target="_blank">VELD technical concept</a> 
        and D6.2 (link will follow)).
      </p>
      <p>
      The list below shows the tool’s name, the methods it implements and features 
      it produces (if applicable). </p>
    
    </div>
    <!-- Search Corpora -->
    <!-- <h2 style="margin-top: 24px;">Or search all of them: </h2> -->
    <bs-panel expanded="true" header="View and search all [[singleValueFromSelect 'SELECT (count(distinct ?tool) as ?toolCount)  WHERE {?tool a crmcls:X12_Tool;}']] tools" collapsible="true">
      <semantic-table
        column-configuration='[
        {"displayName": "Tool", "variableName": "tool"},
        {"displayName": "Methods", "variableName": "methodNames"},
        {"displayName": "Features", "variableName": "featureNames"}
      ]'
        query='
        PREFIX crmcls: <https://clscor.io/ontologies/CRMcls/>

      	SELECT 
          distinct ?tool 
          (GROUP_CONCAT(distinct ?method; SEPARATOR=", ") AS ?methodNames)
          (GROUP_CONCAT(distinct ?feature; SEPARATOR=", ") AS ?featureNames)
        WHERE {
          ?tool a crmcls:X12_Tool.
          OPTIONAL {
            ?attrAss a crm:E13_Attribute_Assignment ;
                    crm:P177_assigned_property_of_type crmcls:Y8_implements ;
                    crm:P141_assigned ?methodEntity ;
                    crm:P140_assigned_attribute_to ?tool .  
            ?methodEntity a crmcls:X6_Method ;
                          rdfs:label ?method .
          }
          OPTIONAL {
            ?attrAss2 a crm:E13_Attribute_Assignment ;
                  crm:P177_assigned_property_of_type crmcls:Y1_exhibits_feature ;
                  crm:P141_assigned ?featureEntity ;
                  crm:P140_assigned_attribute_to ?tool .  
            ?featureEntity a crmcls:X3_Feature;
                      rdfs:label ?feature .
          }
            
        }
        GROUP BY ?tool
        ORDER BY ?tool
        '
      ></semantic-table>
    </bs-panel>

  </div>
</div>
