[[#> rsp:itemCardTemplateDefault customHeader="true"]] 
  [[#partial "customHeader"]]
    <semantic-if query='ASK WHERE { <{{iri}}> crm:P2_has_type ?type .
                                    ?type crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/conservation_entities>.
                                  }'
        then='{{> then}}'
        else='{{> else}}'> 

      <template id="then">
        <semantic-query query='SELECT DISTINCT ?type ?label WHERE {
                                <{{iri}}> crm:P2_has_type ?type .
                                ?type crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/conservation_entities>.
                                ?type skos:prefLabel ?label .
                            } limit 1' 
                    template='{{> template}}'>

          <template id='template'>
              <div data-flex-layout="row top-center" class="card-header">
                <div data-flex-self="left" class="d-flex rs-default-card__header-left">
                  <i class="rs-icon {{getValueByKey typeToIcon allTypes 'rs-icon-entity'}}" alt="{{directTypesLabels}}"></i>
                  <span class="text-truncate" style="margin-left:4px;">{{bindings.0.label.value}}</span>
                </div>
              </div>
          </template>
        </semantic-query>
      </template>

      <template id="else">
        <div data-flex-layout="row top-center" class="card-header">
          <div data-flex-self="left" class="d-flex rs-default-card__header-left">
            <i class="rs-icon {{getValueByKey typeToIcon allTypes 'rs-icon-entity'}}" alt="{{directTypesLabels}}"></i>
            <span class="text-truncate" style="margin-left:4px;">{{directTypesLabels}}</span>
          </div>
      
          {{#if id}}
          <div data-flex-self="right" class="text-truncate rs-default-card__header-right">{{id}}</div>
          {{/if}}
        </div>
      </template>
    </semantic-if>
  [[/partial]]
[[/rsp:itemCardTemplateDefault]]
