<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri="[[this]]"></mp-label>
  </li>
</ol>

<main class="page">
  <div class="page__hero">
    <!-- <img alt="" src="/assets/images/hero.png" > -->
    <h1>Semantic Kraus - Exploration platform</h1>
  </div>

	<section class="page-section">
		<h2 class="page-section__title">Sample Entities:</h2>
		<div class="home-page__grid">
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/pmb11988">
					Sample: Karl Kraus
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/pmb39331">
					Sample: Oscar Pollak
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/pmb61389">
					Sample: Newspaper Article
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/D_000068-062-000">
					Sample: Court File
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link
					uri="https://sk.acdh.oeaw.ac.at/D_000068-062-000/passage/771"
				>
					Sample: Text Passage (Intertextual Relation)
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link
					uri="https://sk.acdh.oeaw.ac.at/D_000068-062-000/passage/854"
				>
					Sample: Text Passage (Person Mention)
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/DWbibl00000">
					Sample: Dritte Walpurgisnacht
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/DWpers0125">
					Sample: Alfred Kerr
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/DWbibl00000/passage/2092">
					Sample: Text Passage (Person Mention)
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/p_46460">
					Sample: Imre Békessy
				</semantic-link>
			</div>
			<div class="home-page__grid-item">
				<semantic-link uri="https://sk.acdh.oeaw.ac.at/text10013">
					Sample: Das technoromantische Abenteuer
				</semantic-link>
			</div>
		</div>
	</section>

  <!--
	<h2>
		<mp-link url="sk:model">
			Model
		</mp-link>
	</h2>
	<h2>
		<mp-link url="/sparql">
			SPARQL Interface
		</mp-link>
	</h2>
	<h2>
		<semantic-link iri="app:Overview">
			Data Overview
		</semantic-link>
	</h2>
	-->

	<section class="page-section">
		<h2 class="page-section__title">
			<semantic-link iri="rsp:Search"> Under Construction: Search </semantic-link>
		</h2>
	</section>
</main>
