<!-- template (in by now very small parts) copied from X1_Corpus in CLScor
https://clscor.acdh-dev.oeaw.ac.at/resource/?action=edit&uri=Template%3Ahttps%3A%2F%2Fclsinfra.io%2Fontologies%2FCRMcls%2FX1_Corpus 
2023-04-21
--> 
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
  	
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      
    <!-- Type Data --> 
      <bs-tab event-key="0" class="tab-overview" title="Type Information">
				<!-- From and To -->
        <semantic-query
                        query='
SELECT DISTINCT ?desc ?graph 
WHERE { GRAPH ?graph { ?? rdfs:comment ?desc . }}'
                        template='{{> template}}'
                            >
          <template id="template">
            {{#each bindings}}
            <h3>Type Description <small>From Named Graph: {{graph.value}}</small></h3>
            <div>{{desc.value}}</div>
            {{/each}}
          </template>
        </semantic-query>
        
        [[#if (ask "ASK { {SELECT * WHERE {?? crm:P127i_has_narrower_term ?subtype . } LIMIT 1}}")]]
        <semantic-table
                        query='
SELECT DISTINCT ?subtype ?graph
WHERE { GRAPH ?graph { ?? crm:P127i_has_narrower_term ?subtype .} }'
                        column-configuration='[
                                              {"displayName": "Subtype", "variableName": "subtype"},
                                              {"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
                                              ]'>
        </semantic-table>
        [[/if]]
        [[#if (ask "ASK { {SELECT * WHERE {{?? crm:P127_has_broader_term <https://sk.acdh.oeaw.ac.at/types/text/rubric> .} UNION {?? crm:P127_has_broader_term <https://sk.acdh.oeaw.ac.at/types/text/chiffre>} } LIMIT 1}}")]]
        <semantic-table
                        query='
SELECT DISTINCT ?entity ?issue ?graph
WHERE { GRAPH ?graph { ?entity crm:P2_has_type ?? ; ^crm:P165_incorporates+ ?issue . ?issue ^crm:P165_incorporates / frbroo:R5i_is_component_of ?periodical .} }'
                        column-configuration='[
                                              {"displayName": "Texts", "variableName": "entity"},
                                              {"displayName": "Issue", "variableName": "issue"},
                                              {"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
                                              ]'
                        options='{"showFilter": false}'>
        </semantic-table>
        
        <semantic-query
                        query="SELECT ?supType WHERE {?? crm:P127_has_broader_term ?supType . }"
                        template="{{> template}}">
          <template id="template">
            <div><strong>Subtype of:</strong>{{#each bindings}}<semantic-link iri={{supType.value}}></semantic-link>{{/each}}</div>
          </template>
          </semantic-query>
        [[else]]
        <semantic-table
                        query='
SELECT ?entity ?class ?graph
WHERE { GRAPH ?graph { ?entity crm:P2_has_type ??; a ?class .} } LIMIT 10'
                        column-configuration='[
                                              {"displayName": "Example Entities", "variableName": "entity"},
                                              {"displayName": "Class", "variableName": "class"},
                                              {"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
                                              ]'
                        options='{"showFilter": false}'>
        </semantic-table>
        [[/if]]
      </bs-tab>
      
      
      <!-- Source -->
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
      <!-- Ontodia -->
      <bs-tab event-key="11" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      
    </bs-tabs>
  
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>