<!-- template (in by now very small parts) copied from X1_Corpus in CLScor
https://clscor.acdh-dev.oeaw.ac.at/resource/?action=edit&uri=Template%3Ahttps%3A%2F%2Fclsinfra.io%2Fontologies%2FCRMcls%2FX1_Corpus 
2023-04-21
--> 
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
  	
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      
    <!-- Bibliographical Data --> 
      <bs-tab event-key="0" class="tab-overview" title="Bibliographical Data">

        <semantic-table
                        query="
SELECT DISTINCT  ?author ?titleValue ?subtitleValue ?creationDate ?graph ?performanceDate
WHERE {
  GRAPH ?graph {
   ?? (owl:sameAs | ^owl:sameAs)* ?text .
      OPTIONAL { ?textCreation (crm:P94_has_created | frbroo:R17_created) ?text .
      OPTIONAL { ?textCreation  crm:P4_has_time-span ?creationDate . }
      OPTIONAL { ?author ^crm:P14_carried_out_by ?textCreation . } }
      OPTIONAL { ?text frbroo:R66i_had_a_performed_version_through/crm:P4_has_time-span ?performanceDate .}
    # text title(s)
    ?text crm:P102_has_title ?title .
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/main> .
    }
    UNION
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/prov> .
    }
    
    ?title rdf:value ?titleValue .
    
    OPTIONAL {
    ?text crm:P102_has_title ?subtitle .
    ?subtitle crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/sub> ;
        rdf:value ?subtitleValue .
    }
    
  }
}
                               
                               "
                        column-configuration='[
    {"variableName": "author", "displayName": "Author"}, 
    {"variableName": "titleValue", "displayName": "Title"}, 
    {"variableName": "subtitleValue", "displayName": "Subtitle"},  
    {"variableName": "creationDate", "displayName": "Created"},
    {"variableName": "performanceDate", "displayName": "First Performed"},
    {"variableName": "graph", "displayName": "Source Graph"}
    
  ]'
  options='{"showFilter": false}'
                        >
          </semantic-table>
        
        <h4>Publication</h4>
        <!-- CAUTION: This will have to be refined - esp. the appellation display - with the original data -->
        <semantic-table
                        query="
         select distinct  ?publText ?publDate ?graph ?pagination
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .

      ?text crm:P165i_is_incorporated_in* ?publText .
      ?publText rdf:type frbroo:F22_Self-Contained_Expression ;
              crm:P165i_is_incorporated_in ?publF24 .
      ?publF24 frbroo:R5i_is_component_of ?periodical .
    optional {
    # publication date                          
      ?publF24 ^frbroo:R24_created/crm:P4_has_time-span ?publDate .
    }                 
    
    optional {
    # pagination
    ?text ^intro:R16_incorporates ?segment .
    ?segment a intro:INT16_Segment ;
    <https://schema.org/pagination> ?pagination .
                               }
  }
}       
                               "
                        column-configuration='[
    {"variableName": "publText", "displayName": "Published in"},
    {"variableName": "pagination", "displayName": "Pagination"},
    {"variableName": "publDate", "displayName": "Publication Date"},
    {"variableName": "graph", "displayName": "Source Graph"}
    
  ]'
  options='{"showFilter": false}'
                        >
          </semantic-table>
        
        <h3>Publication Context</h3>
        <semantic-tree query="
                              SELECT DISTINCT ?node ?parent
WHERE {
  ?parent frbroo:R5_has_component|crm:P165_incorporates ?node .
  
  { ?parent frbroo:R5_has_component*/crm:P165_incorporates*/intro:R10_has_Text_Passage* ?? . }
}
                              "/>
        </bs-tab>
      
      <bs-tab event-key="2" title="Relations, References">
        <h3>Person Mentions</h3>
        <semantic-table
                        query="
PREFIX prov: <http://www.w3.org/ns/prov#>
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix frbroo: <https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#>
prefix intro: <https://w3id.org/lso/intro/beta202304#>
prefix schema: <https://schema.org/>
prefix prov: <http://www.w3.org/ns/prov#>
                               
select ?mentioned ?mention ?mentionEditionDate ?mentionPosition ?mentionSource ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    ?text intro:R10_has_Text_Passage*/^intro:R18_actualization_found_on ?actualization.
    ?actualization intro:R17_actualizes_feature/crm:P67_refers_to ?mentioned.
    
    # mention
    optional { 
    ?actualization intro:R18_actualization_found_on ?mention .
    ?mention rdf:type intro:INT1_TextPassage . }

    
    # mentionEdition
    optional {?actualization intro:R18_actualization_found_on/^intro:R16_incorporates/intro:R25_is_segment_of/frbroo:R24i_was_created_through/crm:P4_has_time-span/rdfs:label ?mentionEditionDate .}
    
    # mentionPosition
    optional {?actualization intro:R18_actualization_found_on/^intro:R16_incorporates ?segment .
      			?segment rdf:type intro:INT16_Segment ;
               	schema:pagination ?mentionPosition . }
    
    # mentionSource
    optional { ?mentionAt intro:R17_actualizes_feature/prov:wasDerivedFrom ?mentionSource}
    
    
  }
}         
                               "
                        column-configuration='[
    {"variableName": "mentioned", "displayName": "Mentioned Person"}, 
    {"variableName": "mention", "displayName": "Mention"}, 
    {"variableName": "mentionsource", "displayName": "Source"}, 
    {"variableName": "graph", "displayName": "Source Graph"},
    {
    "displayName": "Mention Position", 
    "cellTemplate": "<div>{{mentionPosition.value}} (Publ. {{mentionEditionDate.value}})</div>" 
    }
  ]'
                        >
          </semantic-table>
        <h3>Intertextual Relations (outgoing)</h3>
        <semantic-table
                        query="prefix prov: <http://www.w3.org/ns/prov#>
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix frbroo: <https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#>
prefix intro: <https://w3id.org/lso/intro/beta202304#>
prefix schema: <https://schema.org/>
prefix prov: <http://www.w3.org/ns/prov#>
                               
select distinct ?text ?refPassage ?relation ?targetPassage ?targetText ?targetPubl ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    {?text intro:R10_has_Text_Passage ?refPassage .
      ?refPassage intro:R13_is_referring_entity ?relation .}
    union
    {?text intro:R13_is_referring_entity ?relation .}
    
    {?relation intro:R12_has_referred_to_entity ?targetPassage .
      ?targetPassage ^intro:R10_has_Text_Passage ?targetText . 
      optional {?targetPassage ^intro:R16_incorporates/intro:R25_is_segment_of ?targetPubl .}
    }
    union
    {?relation intro:R12_has_referred_to_entity ?targetText .
    ?targetText crm:P102_has_title ?title .}
                               
  }
}          
                               "
                        
                        column-configuration='[
    {"variableName": "refPassage", "displayName": "Text Passage"},
    {"variableName": "targetText", "displayName": "Referred-to Text"},
    {"variableName": "targetPassage", "displayName": "Referred-to Passage"},
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
                        >
          </semantic-table>
        
                <h3>Intertextual Relations (incoming)</h3>
        <semantic-table
                        query="prefix prov: <http://www.w3.org/ns/prov#>
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix frbroo: <https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#>
prefix intro: <https://w3id.org/lso/intro/beta202304#>
prefix schema: <https://schema.org/>
prefix prov: <http://www.w3.org/ns/prov#>
                               
select distinct ?quotedPassage ?quotingPassage ?quotingText ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    {?quotedPassage intro:R10_is_Text_Passage_of ?text ;
       intro:R12_is_referred_to_entity ?relation . }
    union
    {?relation intro:R12_has_referred_to_entity ?text .
      FILTER NOT EXISTS { ?text a intro:INT1_TextPassage . }
    }
    
    {?relation intro:R13_has_referring_entity ?quotingPassage .
      ?quotingPassage ^intro:R10_has_Text_Passage ?quotingText . 
      optional {?quotingPassage ^intro:R16_incorporates/intro:R25_is_segment_of ?quotingPubl .}
    }
    union
    {?relation intro:R13_has_referring_entity ?quotingText .
            FILTER NOT EXISTS { ?quotingText a intro:INT1_TextPassage . }}
                               
  }
}          
                               "
                        
                        column-configuration='[
    {"variableName": "quotedPassage", "displayName": "Quoted Passage"},
    {"variableName": "quotingPassage", "displayName": "Quoted in Passage"},
    {"variableName": "quotingText", "displayName": "Quoted by Text"},
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
                        >
          </semantic-table>
        
        </bs-tab>
  
      <!-- Source -->
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
      
      <bs-tab event-key="11" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      
    
    </bs-tabs>
  
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>