<!-- template (in by now very small parts) copied from X1_Corpus in CLScor
https://clscor.acdh-dev.oeaw.ac.at/resource/?action=edit&uri=Template%3Ahttps%3A%2F%2Fclsinfra.io%2Fontologies%2FCRMcls%2FX1_Corpus 
2023-04-21
--> 
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
  	
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      
    <!-- Text Passage Data --> 
      <bs-tab event-key="0" class="tab-overview" title="Text Passage Data">
					<semantic-query 
                        query='
          SELECT ?wording
          WHERE {
            GRAPH ?graph {
             ?? (owl:sameAs | ^owl:sameAs)* ?passage .
              ?passage intro:R44_has_wording ?wording . } } 
              '
              template='{{> template}}'
                        >
            <template id='template'>{{#each bindings}}{{#if wording}}<h2>Text Passage: "{{wording.value}}"</h2>{{/if}}{{/each}}</template>
        </semantic-query>
        
        <semantic-table
                        query='
SELECT DISTINCT ?text ?author ?titleValue ?subtitleValue ?creationDate ?graph ?performanceDate ?location ?locationURL
WHERE {
  GRAPH ?graph {
   ?? (owl:sameAs | ^owl:sameAs)* ?passage .
      ?text intro:R10_has_Text_Passage ?passage .
      OPTIONAL { ?textCreation (crm:P94_has_created | frbroo:R17_created) ?text . 
      OPTIONAL { ?textCreation  crm:P4_has_time-span / rdfs:label ?creationDate . }
      OPTIONAL { ?textCreation crm:P14_carried_out_by ?author . } }}
      OPTIONAL { ?text frbroo:R66i_had_a_performed_version_through/crm:P4_has_time-span / rdfs:label ?performanceDate .}
			OPTIONAL { ?passage intro:R41_has_location ?location . FILTER (!REGEX(?location, "http")) . }
  		OPTIONAL { ?passage intro:R41_has_location ?locationURL . FILTER (REGEX(?location, "http")) . } 
                               
    # text title(s)
    ?text crm:P102_has_title ?title .
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/main> .
    }
    UNION
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/prov> .
    }
    
    ?title rdfs:label ?titleValue .
    
    OPTIONAL {
    ?text crm:P102_has_title ?subtitle .
    ?subtitle crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/sub> ;
        rdf:value ?subtitleValue .
    }
    
  }
                               
                               '
                        column-configuration='[
    {"displayName": "From Text:", "cellTemplate": "{{> text}}" },
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
  options='{"showFilter": false}'
                        >
          <template id="text">
            {{#if author}}<semantic-link uri={{author.value}}>{{author.value}}</semantic-link>: {{/if}}
            <semantic-link uri={{text.value}}>{{#if subtitleValue}}{{titleValue.value}}. {{subtitleValue.value}}{{else}}{{titleValue.value}}{{/if}}</semantic-link>
            {{#if location}}
                {{#if performanceDate}}, 
                  {{#if creationDate}}created {{creationDate.value}}, {{/if}}
                  first performed / recited {{performanceDate.value}}
                {{else}}, 
                  {{#if creationDate}}created {{creationDate.value}}{{else}}{{/if}}
                {{/if}}
              {{#if locationURL}}, 
              	<semantic-link uri={{locationURL.value}}>{{location.value}}</semantic-link>.
              {{else}},
								{{location.value}}.
            {{/if}}
            {{else}}
              {{#if performanceDate}}, 
                {{#if creationDate}}created {{creationDate.value}}, {{/if}}
                first performed / recited {{performanceDate.value}}
                {{else}}, 
                  {{#if creationDate}}created {{creationDate.value}}{{/if}}
              {{/if}}
            {{/if}}
          </template>
          </semantic-table>
        
        <semantic-table
                        query='SELECT ?person ?targetPassage ?targetText ?refPassage ?refText ?graph
WHERE {
GRAPH ?graph {
	  ?? (owl:sameAs | ^owl:sameAs)* ?passage .
    OPTIONAL { ?passage ^intro:R18_actualization_found_on / intro:R17_actualizes_feature / crm:P67_refers_to ?person .}
    OPTIONAL { ?passage intro:R13_is_referring_entity ?relation .
      { ?relation intro:R12_has_referred_to_entity ?targetText .
      FILTER NOT EXISTS { ?targetText a intro:INT1_TextPassage . } }
      UNION
      { ?relation intro:R12_has_referred_to_entity ?targetPassage .
      ?targetPassage a intro:INT1_TextPassage ;
                     ^intro:R10_has_Text_Passage ?targetText .}}
      OPTIONAL { ?passage intro:R12_is_referred_to_entity ?relation2 .
        { ?relation2 intro:R13_has_referring_entity ?refText . 
        FILTER NOT EXISTS { ?refText a intro:INT1_TextPassage . } }
              UNION
              {?relation2 intro:R13_has_referring_entity ?refPassage .
        ?refPassage a intro:INT1_TextPassage ;
                     ^intro:R10_has_Text_Passage ?refText .}
      }
  }    
}
                        '
                        column-configuration='[
    {"displayName": "Relation / Reference:", "cellTemplate": "{{> ref}}" },
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
                        options='{"showFilter": false}'
                        >
          <template id="ref">
            {{#if person}}Reference to: <semantic-link uri={{person.value}}>{{person.value}}</semantic-link>{{/if}}
            {{#if targetText}}Reference to: <semantic-link uri={{targetText.value}}>{{targetText.value}}</semantic-link>{{#if targetPassage}}, resp. to <semantic-link uri={{targetPassage.value}}>{{targetPassage.value}}</semantic-link>{{/if}}{{/if}}
            {{#if refText}}Referred to by: <semantic-link uri={{refText.value}}>{{refText.value}}</semantic-link>{{#if refPassage}}, resp. by <semantic-link uri={{refPassage.value}}>{{refPassage.value}}</semantic-link>{{/if}}{{/if}}
          </template>
          </semantic-table>

        
        

        <semantic-table
                        query='
						SELECT ?segLocation ?segURL ?publication ?publDate ?graph
						WHERE { GRAPH ?graph{
            ?? (owl:sameAs | ^owl:sameAs)* ?passage .
            
            OPTIONAL {?passage intro:R16_is_incorporated_in ?seg . 
              OPTIONAL { ?seg intro:R41_has_location ?segLocation .
              FILTER (!REGEX(?segLocation, "http")) . }
              OPTIONAL { ?seg intro:R41_has_location ?segURL .
              FILTER (REGEX(?segURL, "http")) . }
              OPTIONAL { ?seg intro:R25_is_segment_of|crm:P128i_is_carried_by ?publication . } 
            }
            }  
            }'
                        column-configuration='[
    {"displayName": "In Publication / on Carrier:", "cellTemplate": "{{> publication}}"},
		{"displayName": "Location", "cellTemplate": "{{> segLocation}}"},
		{"displayName": "URL", "cellTemplate": "{{> URL}}"},
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
                        options='{"showFilter": false}'
                        >
          <template id="publication">{{#if publication}}<semantic-link uri={{publication.value}}>{{publication.value}}{{#if publDate}} ({{publDate.value}}){{/if}}{{/if}}</semantic-link></template>
          <template id="segLocation">{{segLocation.value}}</template>
          <template id="URL"><a href="{{segURL.value}}">{{segURL.value}}</a></template>
        </semantic-table>
				
        [[#if (ask "ASK {SELECT ?id WHERE { ?? (owl:sameAs | ^owl:sameAs)* ?passage . ?passage crm:P1_is_identified_by ?id .}  LIMIT 1 }")]]<h3>Identifiers</h3>
				<semantic-table 
query='
SELECT ?passage ?id ?idValue ?idURL ?idType ?graph
WHERE {
GRAPH ?graph {
?? (owl:sameAs | ^owl:sameAs)* ?passage .
?passage crm:P1_is_identified_by ?id .
?id rdf:value ?idValue .
    OPTIONAL { 
        FILTER (CONTAINS(STR(?idValue), "http"))
        BIND(?idValue AS ?idURL)
    }
?id rdf:type crm:E42_Identifier .
optional {
  #type
  ?id crm:P2_has_type ?idType .
    }
  }
}
     '
column-configuration='[
{"variableName": "idValue", "displayName": "ID", "cellTemplate": "{{> idValue}}"},
{"variableName": "idType", "displayName": "ID Type"}, 
{"variableName": "graph", "displayName": "Source Graph"}
]'
options='{"showFilter": false}'
                        >

<template id="idValue">
{{#if idURL}}
<a href="{{idURL.value}}">{{idURL.value}}</a>
{{else}}
<div>{{idValue.value}}</div>
{{/if}}
</template>

</semantic-table>
          [[/if]]
          
        
        </bs-tab> 
       

  
      <!-- Source -->
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
      
      <bs-tab event-key="11" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      
    
    </bs-tabs>
  
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>