<!-- template (in by now very small parts) copied from X1_Corpus in CLScor
https://clscor.acdh-dev.oeaw.ac.at/resource/?action=edit&uri=Template%3Ahttps%3A%2F%2Fclsinfra.io%2Fontologies%2FCRMcls%2FX1_Corpus 
2023-04-21
--> 
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
  	
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      
    <!-- Bibliographical Data --> 
      <bs-tab event-key="0" class="tab-overview" title="Bibliographical Data">

        <semantic-table
                        query="
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix frbroo: <https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#>
         
         select distinct  ?author ?titleValue ?creationDate ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    OPTIONAL { ?textCreation (crm:P94_has_created | frbroo:R17_created) ?text .
     OPTIONAL { ?author ^crm:P14_carried_out_by ?textCreation . }
     OPTIONAL { ?textCreation crm:P4_has_time-span ?creationDate . }
    }
    
    # text title(s)
    ?text crm:P102_has_title ?title .
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/main> .
    }
    union
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/prov> .
    }
    
    ?title rdf:value ?titleValue .
    
    optional {
    ?text crm:P102_has_title ?subtitle .
    ?subtitle crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/sub> ;
        rdf:value ?subtitleValue .
    }   
  }
}
                               
                               "
                        column-configuration='[
    {"variableName": "author", "displayName": "Author"}, 
    {"variableName": "titleValue", "displayName": "Title"}, 
    {"variableName": "creationDate", "displayName": "Creation Date"},
    {"variableName": "graph", "displayName": "Source Graph"}
    
  ]'
                        >
          </semantic-table>

				<semantic-table 
          query='
        select ?case
        where {
          graph ?graph {
            ?? (owl:sameAs | ^owl:sameAs)* ?file .
            ?file crm:P12i_was_present_at ?case .
          }
        }
          ' 
          column-configuration='[
            {"displayName": "Legal Case", "cellTemplate": "{{> case}}"}, 
            {"displayName": "Files", "cellTemplate": "{{> files}}"}
          ]'
        >
          <template id='case'>
            <semantic-query
            query='
            SELECT ?participant WHERE {
              <{{case.value}}> crm:P10i_contains/crm:P14_carried_out_by ?participant .
            }
            '>
          		<template id="template">
            		<div>
                  <semantic-link iri='{{case.value}}'>{{case.value}}</h5>
                  {{#if participant}}
                  <h6>Participants:</h6>
                  {{#each bindings}}
                  {{participant.value}}<br/>
                  {{/each}}
                  {{else}}
                  {{/if}}
            		</div>
          		</template>
            </semantic-query>
          </template>
          <template id="files">
            <semantic-table
            query='
						SELECT ?file WHERE {
            ?file crm:P12i_was_present_at <{{case.value}}>.
            }
						'
            column-configuration='[
              {"variableName": "file"}
            ]'               
            ></semantic-table>
          </template>
				</semantic-table>
    </bs-tab>
      
      <bs-tab event-key="2" title="Person Mentions">
        <h3>Person Mentions</h3>
        <semantic-table
                        query="
        select ?mentioned ?passage ?passagePosition ?reference ?mentionSource ?graph
        where {
          graph ?graph {
            <https://sk.acdh.oeaw.ac.at/D_000068-062-000> (owl:sameAs | ^owl:sameAs)* ?text .
            {?text intro:R10_has_Text_Passage ?passage .
            ?passage ^intro:R18_actualization_found_on ?actualization. }
                UNION 
            {?text ^intro:R18_actualization_found_on ?actualization. }

            ?actualization intro:R17_actualizes_feature ?reference .
            ?reference crm:P67_refers_to ?mentioned.


            # mentionPosition
            optional {?passage ^intro:R16_incorporates ?segment .
                    ?segment rdf:type intro:INT16_Segment ;
                        schema:pagination ?passagePosition . }

            # mentionSource
            optional { ?reference prov:wasDerivedFrom ?mentionSource . }

    
  }
}        
                               "
                        column-configuration='[
    {"variableName": "mentioned", "displayName": "Mentioned Person"}, 
    {"variableName": "mention", "displayName": "Mention"}, 
    {"variableName": "mentionsource", "displayName": "Source"}, 
    {"variableName": "graph", "displayName": "Source Graph"},
    {"variableName": "mentionPosition", "displayName": "Mention Position"}
  ]'
                        >
          </semantic-table>
        </bs-tab>
      <bs-tab event-key="17" title="Intertextual Relations">
<!-- pick up here -->
        <h3>Outgoing</h3>
        <semantic-table
                        query="
SELECT DISTINCT ?targetText ?text
WHERE {
  GRAPH ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    ?text intro:R10_has_Text_Passage*/intro:R13_is_referring_entity ?relation .
    
    ?relation intro:R12_has_referred_to_entity/^intro:R10_has_Text_Passage* ?targetText .
    FILTER NOT EXISTS { ?targetText a intro:INT1_TextPassage . }                           
  }
}          
                               "
                        
                        column-configuration='[
    {"variableName": "targetText", "displayName": "Referenced Text"},
    {"displayName": "Relation","cellTemplate": "{{> relations}}"}
  ]'
                        >
           <template id="relations">
            <semantic-table
                            query="
                                   SELECT ?refPassage ?refPosition ?targetPassage ?targetPosition ?refSource ?graph
                                   WHERE { GRAPH ?graph {
                                   ?relation intro:R12_has_referred_to_entity/^intro:R10_has_Text_Passage* <{{targetText.value}}> .
                                   ?relation a intro:INT3_IntertextualRelationship .
                                   OPTIONAL {?relation intro:R13_has_referring_entity ?refPassage .
                                   ?refPassage a intro:INT1_TextPassage . 
                                   OPTIONAL { ?refPassage intro:R16_is_incorporated_in ?segment. 
                                   ?segment a intro:INT16_Segment; 
                                   intro:R41_has_location ?refPosition . 
                                   FILTER (!REGEX(?refPosition, 'http'))
                                   }
                                   } 
                                   OPTIONAL {?relation intro:R12_has_referred_to_entity ?targetPassage .
                                   ?targetPassage a intro:INT1_TextPassage . 
                                   OPTIONAL { ?targetPassage intro:R16_is_incorporated_in ?segment2. 
                                   ?segment2 a intro:INT16_Segment; intro:R41_has_location ?targetPosition . 
                                   FILTER (!REGEX(?targetPosition, 'http'))
                                   }
                                   }
                                   }
                                   }
                                   "
                            column-configuration='[
    {"cellTemplate": "{{> reference}}"},
    {"cellTemplate": "{{> target}}"}
  ]'
                                   >
              <template id="reference">
              Reference: {{#if refPassage}}<semantic-link uri={{refPassage.value}}>{{refPassage.value}}</semantic-link>{{#if refPosition}} – Position: {{refPosition.value}}{{/if}}{{else}}<semantic-link uri={{text.value}}>{{text.value}}</semantic-link>{{/if}}
              </template>
              <template id="target">
              Target: {{#if targetPassage}}<semantic-link uri={{targetPassage.value}}>{{targetPassage.value}}</semantic-link>{{#if targetPosition}} – Position: {{targetPosition.value}}{{/if}}{{else}}<semantic-link uri={{text.value}}>{{targetText.value}}</semantic-link>{{/if}}
              </template>
             </semantic-table>
          </template>
          </semantic-table>
        
        
        <h3>Incoming</h3>
        <semantic-table
                        query="
select distinct ?quotingText ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    {?text intro:R10_has_Text_Passage / intro:R12_is_referred_to_entity ?relation .}
    union
    {?text intro:R12_is_referred_to_entity ?relation .
      FILTER NOT EXISTS { ?text a intro:INT1_TextPassage . }
    }
    
    {?relation intro:R13_has_referring_entity / ^intro:R10_has_Text_Passage ?quotingText . }
    union
    {?relation intro:R13_has_referring_entity ?quotingText .
            FILTER NOT EXISTS { ?quotingText a intro:INT1_TextPassage . }}
                               
  }
}        
                               "
                        
                        column-configuration='[
    {"variableName": "quotingText", "displayName": "Quoted by Text"},
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
                        >
          </semantic-table>
        
        
        </bs-tab>
  
      <!-- Source -->
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
      
      <bs-tab event-key="11" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      
    
    </bs-tabs>
  
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>