<!-- template (in by now very small parts) copied from X1_Corpus in CLScor
https://clscor.acdh-dev.oeaw.ac.at/resource/?action=edit&uri=Template%3Ahttps%3A%2F%2Fclsinfra.io%2Fontologies%2FCRMcls%2FX1_Corpus 
2023-04-21
--> 
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
  	
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      
    <!-- Bibliographical Data --> 
      <bs-tab event-key="0" class="tab-overview" title="Bibliographical Data">

        <semantic-table
                        query="
SELECT DISTINCT  ?author ?titleValue ?subtitleValue ?creationDate ?graph ?performanceDate
WHERE {
  GRAPH ?graph {
   ?? (owl:sameAs | ^owl:sameAs)* ?text .
      OPTIONAL { ?textCreation (crm:P94_has_created | frbroo:R17_created) ?text .
      OPTIONAL { ?textCreation  crm:P4_has_time-span ?creationDate . }
      OPTIONAL { ?author ^crm:P14_carried_out_by ?textCreation . } }
      OPTIONAL { ?text frbroo:R66i_had_a_performed_version_through/crm:P4_has_time-span ?performanceDate .}
    # text title(s)
    ?text crm:P102_has_title ?title .
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/main> .
    }
    UNION
    {                               
    ?title crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/prov> .
    }
    
    ?title rdf:value ?titleValue .
    
    OPTIONAL {
    ?text crm:P102_has_title ?subtitle .
    ?subtitle crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/title/sub> ;
        rdf:value ?subtitleValue .
    }
    
  }
}
                               
                               "
                        column-configuration='[
    {"variableName": "author", "displayName": "Author"}, 
    {"variableName": "titleValue", "displayName": "Title"}, 
    {"variableName": "subtitleValue", "displayName": "Subtitle"},  
    {"variableName": "creationDate", "displayName": "Created"},
    {"variableName": "performanceDate", "displayName": "First Performed"},
    {"variableName": "graph", "displayName": "Source Graph"}
    
  ]'
  options='{"showFilter": false}'
                        >
          </semantic-table>
        
        [[#if (ask "ASK {SELECT * WHERE  { ?? (owl:sameAs | ^owl:sameAs)* ?text . ?text crm:P165i_is_incorporated_in+ / rdf:type frbroo:F24_Publication_Expression } LIMIT 1 }")]]

        <semantic-table
                        query="
select distinct  ?publText ?publDate ?graph ?pagination
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .

    OPTIONAL { ?text crm:P165i_is_incorporated_in+ ?publText .
      ?publText rdf:type frbroo:F22_Self-Contained_Expression ;
              crm:P165i_is_incorporated_in / frbroo:R5i_is_component_of ?periodical . }
      
      
    optional {
    # publication date                          
      ?text crm:P165i_is_incorporated_in+ / ^frbroo:R24_created / crm:P4_has_time-span ?publDate .
    }                 
    
    optional {
    # pagination
    ?text ^intro:R16_incorporates ?segment .
    ?segment a intro:INT16_Segment ;
    <https://schema.org/pagination> ?pagination .
                               }
  }
}       
                               "
                        column-configuration='[
    {"variableName": "publText", "displayName": "Published in"},
    {"variableName": "pagination", "displayName": "Pagination"},
    {"variableName": "publDate", "displayName": "Publication Date"},
    {"variableName": "graph", "displayName": "Source Graph"}
    
  ]'
  options='{"showFilter": false}'
                        >
          </semantic-table>
        [[/if]]
        
        [[#if (ask "ASK {SELECT * WHERE  { ?? (owl:sameAs | ^owl:sameAs)* ?text . {?text crm:P165i_is_incorporated_in / rdf:type frbroo:F22_Self-Contained_Expression . } UNION { ?text crm:P165i_is_incorporated_in / frbroo:R5i_is_component_of ?o . }  } LIMIT 1 }")]]
        <h4>Publication Context</h4>
        <semantic-tree query="
                              SELECT DISTINCT ?node ?parent
WHERE {
  ?parent frbroo:R5_has_component* / crm:P165_incorporates* / intro:R10_has_Text_Passage* ?? . 

  ?parent (frbroo:R5_has_component / crm:P165_incorporates) | crm:P165_incorporates ?node .
  
  { ?parent a frbroo:F22_Self-Contained_Expression . }
  UNION
  { ?parent frbroo:R5_has_component ?issueF24 . }
}

                              "/>
        [[/if]]
        
      </bs-tab>
[[#if (ask "ASK { SELECT * WHERE { ?? (owl:sameAs | ^owl:sameAs)* ?text . ?text crm:P165_incorporates|intro:R10_has_Text_Passage ?content . } LIMIT 1 }")]]
<bs-tab event-key="22" title="Textual Contents">
<semantic-table
query='
SELECT ?passage ?wording ?graph WHERE { 
  GRAPH ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    ?text crm:P165_incorporates* / intro:R10_has_Text_Passage ?passage .
    OPTIONAL {
      ?passage intro:R44_has_wording ?wording .
    }
  }
}
'
column-configuration='[
{"displayName": "Recorded Text Passages", "cellTemplate": "{{> passage}}"},
{"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
]'
>
<template id="passage">
  <div>
  {{#if wording}}
  <semantic-link uri={{passage.value}}>"{{wording.value}}"</semantic-link>
  {{else}}
  <semantic-link uri={{passage.value}}></semantic-link>
  {{/if}}
  </div>
</template>
</semantic-table>

      <semantic-table
query='
SELECT ?incText ?graph WHERE { 
  GRAPH ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    ?text crm:P165_incorporates ?incText .
  }
}
'
column-configuration='[
{"displayName": "Incorporated Texts", "variableName": "incText"},
{"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
]'
></semantic-table>
      
      
      
      </bs-tab>
[[/if]]
        
        
      

        [[#if (ask "ASK { SELECT * WHERE { ?? (owl:sameAs | ^owl:sameAs)* ?text . ?text crm:P165_incorporates* / intro:R10_has_Text_Passage / intro:R18_shows_actualization ?mention . } LIMIT 1 }")]]
      <bs-tab event-key="2" title="Person Mentions">

        <semantic-table
                        query='
        SELECT DISTINCT ?mentioned ?text
        WHERE {
          GRAPH ?graph {
           ?? (owl:sameAs | ^owl:sameAs)* ?text .
           ?text crm:P165_incorporates* / intro:R10_has_Text_Passage* / intro:R18_shows_actualization / intro:R17_actualizes_feature / crm:P67_refers_to ?mentioned.
  }
}
                               '
                        column-configuration='[
    {"variableName": "mentioned", "displayName": "Mentioned Person"}, 
    {"displayName": "Mention", "cellTemplate": "{{> ref}}"}
  ]'
                        >
          <template id="ref">
            <details>
              <summary>Click for more information</summary>
            <semantic-table
                            query='
																	SELECT ?refPassage ?refWording ?refPosition ?refSegPosition ?wit ?witDate ?source ?graph
                                  WHERE {
                                  GRAPH ?graph {
                                  ?reference crm:P67_refers_to <{{mentioned.value}}> .
    							   ?reference intro:R17_feature_actualized_in / intro:R18_actualization_found_on ?refPassage.
                                   ?refPassage intro:R10_is_Text_Passage_of / crm:P165i_is_incorporated_in* <{{text.value}}> .
                                  # refWording
                                    OPTIONAL {?refPassage intro:R44_has_wording ?refWording .}
                                  # refPosition
                                    OPTIONAL {?refPassage intro:R41_has_location ?refPosition .}
                                  # refSegPosition
				             					    optional {?refPassage ^intro:R16_incorporates ?segment .
                    							?segment a intro:INT16_Segment .
                        					  OPTIONAL {?segment schema:pagination ?refSegPosition .}
                                    OPTIONAL {?segment ^intro:R25_has_segment|crm:P128i_is_carried_by ?wit .
                                             OPTIONAL { ?wit frbroo:R24i_was_created_through / crm:P4_has_time-span ?witDate .}} }

                                  # mentionSource
                                  optional { ?reference prov:wasDerivedFrom ?source . }
                                   }
                                   }
                                   '
                            
                             column-configuration='[    
{"displayName": "Passage", "cellTemplate": "{{> passage}}"},
{"displayName": "Position", "cellTemplate": "{{> position}}"},
{"variableName": "source", "displayName": "Source"},
{"variableName": "graph", "displayName": "Named Graph"}
  ]'
                            >
              <template id="passage">
                <div>
                {{#if refWording}}
                <semantic-link uri={{refPassage.value}}>"{{refWording.value}}"</semantic-link>
                {{else}}
								<semantic-link uri={{refPassage.value}}>"{{refPassage.value}}"</semantic-link>
                {{/if}}
                {{#if refPosition}}
                , {{refPosition.value}}
                {{/if}}
                </div>
              </template>
              <template id="position">
                <div>
                  {{#if refSegPosition}}
                  (Position on <semantic-link uri={{wit.value}}>text witness / edition{{#if witDate}} from {{witDate.value}}{{/if}}</semantic-link>: {{refSegPosition.value}})
                {{/if}}
                </div>
              </template>
            </semantic-table>
            </details>
          </template>
          </semantic-table>
        </bs-tab>
      [[/if]]

      <!-- INTERTEXTUAL RELATIONS -->
      
      [[#if (ask "ASK {{ SELECT * WHERE { ?? (owl:sameAs | ^owl:sameAs)* ?text . ?text intro:R10_has_Text_Passage*/intro:R13_is_referring_entity ?relation . } LIMIT 1 } UNION { ?? (owl:sameAs | ^owl:sameAs)* ?text . ?text intro:R10_has_Text_Passage*/intro:R12_is_referred_to_entity ?relation . } }")]]
      
        <bs-tab event-key="17" title="Intertextual Relations">
        <!-- OUTGOING RELATIONS -->
        <semantic-table
                        query='
SELECT DISTINCT ?targetText ?text
WHERE {
  GRAPH ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    ?text crm:P165_incorporates*/intro:R10_has_Text_Passage*/intro:R13_is_referring_entity ?relation .
    
    ?relation intro:R12_has_referred_to_entity/^intro:R10_has_Text_Passage* ?targetText .
    FILTER NOT EXISTS { ?targetText a intro:INT1_TextPassage . }                           
  }
}          
                               '
                        
                        column-configuration='[
    {"variableName": "targetText", "displayName": "Referenced Text"},
    {"displayName": "Relation","cellTemplate": "{{> relations}}"}
  ]'
                        >
           <template id="relations">
             <details>
               <summary>Click for more information</summary>
            <semantic-table
                            query='
                                   SELECT ?refPassage ?refWording ?refPosition ?refSegPosition ?wit ?witDate ?source ?graph
                                   WHERE { GRAPH ?graph {
                                    <{{targetText.value}}> intro:R10_has_Text_Passage*/intro:R12_is_referred_to_entity ?relation.
                                    <{{text.value}}> crm:P165_incorporates*/intro:R10_has_Text_Passage*/intro:R13_is_referring_entity ?relation .

                                  
                                   ?relation a intro:INT3_IntertextualRelationship .
                                   OPTIONAL { ?relation prov:wasDerivedFrom ?source . }
                                   OPTIONAL { ?relation intro:R13_has_referring_entity ?refPassage .
                                      ?refPassage a intro:INT1_TextPassage . 
                                      OPTIONAL { ?refPassage intro:R41_has_location ?refPosition . }
                                      OPTIONAL { ?refPassage intro:R44_has_wording ?refWording . }
                                      OPTIONAL { ?refPassage intro:R16_is_incorporated_in ?segment. 
                                      ?segment a intro:INT16_Segment; 
                                      intro:R41_has_location ?refSegPosition . 
                                      FILTER (!REGEX(?refSegPosition, "http"))
                                        OPTIONAL {?segment ^intro:R25_has_segment|crm:P128i_is_carried_by ?wit .
                                          OPTIONAL { ?wit frbroo:R24i_was_created_through / crm:P4_has_time-span ?witDate .}} }
                                      }
                                    
                                   OPTIONAL {?relation intro:R12_has_referred_to_entity ?targetPassage .
                                   ?targetPassage a intro:INT1_TextPassage . 
                                      OPTIONAL { ?targetPassage intro:R16_is_incorporated_in ?segment2. 
                                      ?segment2 a intro:INT16_Segment; intro:R41_has_location ?targetPosition . 
                                      FILTER (!REGEX(?targetPosition, "http"))
                                      }
                                   }
                                   }
                                  }
                                   
                                   '
                            column-configuration='[
    {"displayName": "Passage", "cellTemplate": "{{> passage}}"},
    {"displayName": "Position", "cellTemplate": "{{> position}}"},
    {"displayName": "Reference Target", "cellTemplate": "{{> target}}"},
    {"variableName": "source", "displayName": "Source"},
    {"variableName": "graph", "displayName": "Named Graph"}
                                                  ]'
                                   >
              <template id="passage">
                <div>
                {{#if refWording}}
                <semantic-link uri={{refPassage.value}}>"{{refWording.value}}"</semantic-link>
                {{else}}
								<semantic-link uri={{refPassage.value}}>"{{refPassage.value}}"</semantic-link>
                {{/if}}
                {{#if refPosition}}
                , {{refPosition.value}}
                {{/if}}
                </div>
              </template>
              <template id="position">
                <div>
                  {{#if refSegPosition}}
                  (Position on <semantic-link uri={{wit.value}}>text witness / edition{{#if witDate}} from {{witDate.value}}{{/if}}</semantic-link>: {{refSegPosition.value}})
                {{/if}}
                </div>
              </template>
              <template id="target">
              Target: {{#if targetPassage}}<semantic-link uri={{targetPassage.value}}>{{targetPassage.value}}</semantic-link>{{#if targetPosition}} – Position: {{targetPosition.value}}{{/if}}{{else}}<semantic-link uri={{targetText.value}}>{{targetText.value}}</semantic-link>{{/if}}
              </template>
             </semantic-table>
             </details>
          </template>
          </semantic-table>
        
        
        <!-- INCOMING RELATIONS -->
        <semantic-table
                        query='
select distinct ?quotingText ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    { ?text intro:R10_has_Text_Passage / intro:R12_is_referred_to_entity ?relation .}
    union
    {?text ^intro:R12_has_referred_to_entity ?relation .
      FILTER NOT EXISTS { ?text a intro:INT1_TextPassage . }
    }
    
    {?relation intro:R13_has_referring_entity / ^intro:R10_has_Text_Passage ?quotingText . }
    union
    {?relation intro:R13_has_referring_entity ?quotingText .
            FILTER NOT EXISTS { ?quotingText a intro:INT1_TextPassage . }}
                               
  }
}        
                               '
                        
                        column-configuration='[
    {"variableName": "quotingText", "displayName": "Referenced by Text"},
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
                        >
          </semantic-table>
        [[/if]]
        
        </bs-tab>
  
      <!-- IDs, Links - Table -->
  <bs-tab title="Entity IDs" event-key="10">
        <semantic-table 
  query="
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix owl: <http://www.w3.org/2002/07/owl#>
         
SELECT ?text ?id ?idValue ?idURL ?idType ?graph
WHERE {
  GRAPH ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?text .
    ?text crm:P1_is_identified_by ?id .
    ?id rdf:value ?idValue .
        OPTIONAL { 
            FILTER (CONTAINS(STR(?idValue), 'http'))
            BIND(?idValue AS ?idURL)
        }
    ?id rdf:type crm:E42_Identifier .
    optional {
      #type
      ?id crm:P2_has_type ?idType .
        }
      }
    }
         "
  column-configuration='[
    {"variableName": "idValue", "displayName": "ID", "cellTemplate": "{{> idValue}}"},
    {"variableName": "idType", "displayName": "ID Type"}, 
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
>

<template id="idValue">
  {{#if idURL}}
  <a href="{{{idURL.value}}}">{{idValue.value}}</a>
  {{else}}
  <div>{{idValue.value}}</div>
  {{/if}}
</template>

</semantic-table>
  </bs-tab>
      
      <!-- Source -->
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
      
      <bs-tab event-key="11" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      
    
    </bs-tabs>
  
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>