<!-- template (in by now very small parts) copied from X1_Corpus in CLScor
https://clscor.acdh-dev.oeaw.ac.at/resource/?action=edit&uri=Template%3Ahttps%3A%2F%2Fclsinfra.io%2Fontologies%2FCRMcls%2FX1_Corpus 
2023-04-21
--> 
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
  	
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      
     
      <bs-tab event-key="2" title="Bibliographical Data">
        [[#if (ask "ASK { {SELECT * WHERE {?? (owl:sameAs | ^owl:sameAs)* ?publ . ?publ ^frbroo:R5_has_component ?o}LIMIT 1}}")]]
        
        <!-- Issue -->
        
        <semantic-query
                        query="
                               select distinct  ?tMain ?tSub ?ni ?nv ?place ?date ?ed ?graph
                               where {
                               graph ?graph {
                               ?? (owl:sameAs | ^owl:sameAs)* ?publ .
                               ?publ crm:P1_is_identified_by ?app .
                               ?app a crm:E33_E41_Linguistic_Appellation .
                               OPTIONAL {
                               ?app crm:P106_is_composed_of ?tMainO .
                               ?tMainO crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/appellation/title/main> ;
                               rdf:value ?tMain . }
                               OPTIONAL {
                               ?app crm:P106_is_composed_of ?tSubO .
                               ?tSubO crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/appellation/title/sub> ;
                               rdf:value ?tSub . }
                               OPTIONAL {
                               ?app crm:P106_is_composed_of ?niO .
                               ?niO crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/appellation/num/issue> ;
                               rdf:value ?ni . }
                               OPTIONAL {
                               ?app crm:P106_is_composed_of ?nvO .
                               ?nvO crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/appellation/num/volume> ;
                               rdf:value ?nv . }
                               OPTIONAL {
                               ?app crm:P106_is_composed_of ?placeO .
                               ?placeO crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/appellation/place> ;
                               rdf:value ?place . }
                               OPTIONAL {
                               ?app crm:P106_is_composed_of ?dateO .
                               ?dateO crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/appellation/date> ;
                               rdf:value ?date . }
                               OPTIONAL {
                               ?app crm:P106_is_composed_of ?edO .
                               ?edO crm:P2_has_type <https://sk.acdh.oeaw.ac.at/types/appellation/ed> ;
                               rdf:value ?ed . }
  }
}
                               "
                        template='{{> template}}'>
          <template id="template">
            {{#each bindings}}
            <h2>{{tMain.value}}{{#if tSub}}. {{tSub.value}}{{/if}}{{#if place}}. {{place.value}}{{/if}}{{#if ni}}. {{ni.value}}{{/if}}{{#if nv}} ({{nv.value}}){{/if}}{{#if date}}, {{date.value}}{{/if}}{{#if ed}} ({{ed.value}}){{/if}}</h2>
            <div><small> From Graph: {{graph.value}}</small></div>
              {{/each}}
          </template>
          </semantic-query>
        
        <semantic-query
                        query='
                               select distinct  ?per ?graph
                               where {
                               graph ?graph {
                               ?? (owl:sameAs | ^owl:sameAs)* ?publ .
                               ?publ frbroo:R5i_is_component_of ?per .
                               }
                               }
                               '
                        template='{{> template}}'>
          <template id="template">
            {{#each bindings}}<h3>Part of Series / Periodical: <semantic-link iri={{per.value}}></semantic-link></h3>
            <div><small>From Graph: {{graph.value}}</small></div>{{/each}}
          </template>
          </semantic-query>
        
        <semantic-table
                        query="
                               select distinct ?text ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?publ .
		?publ crm:P165_incorporates/crm:P165_incorporates+ ?text .
  }
}
                               "
                        column-configuration='[
		{"variableName": "text", "displayName": "Incorporated Texts"},
    {"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
    
  ]'
    options='{"showFilter": false}'                    
                        >
          </semantic-table>
        
        [[else]]
          [[#if (ask "ASK { {SELECT * WHERE {?? (owl:sameAs | ^owl:sameAs)* ?publ . ?publ frbroo:R5_has_component ?o}LIMIT 1}}")]]

          <!-- periodical -->
        

        [[#if (ask "ASK { SELECT ?oCount WHERE { SELECT (COUNT(?o) AS ?oCount) WHERE { ?? (owl:sameAs | ^owl:sameAs)* ?publ .  ?publ frbroo:R5_has_component ?o . } HAVING (?oCount < 51)}}")]]
        
        <h4>Publication Timeline</h4>
        <semantic-timeline query='
                          SELECT DISTINCT ?event ?subject ?start
  WHERE {?? frbroo:R5_has_component ?component.
        ?component rdfs:label ?subject ;
          frbroo:R24i_was_created_through ?event . 
        ?event crm:P4_has_time-span / crm:P82a_begin_of_the_begin ?start .
             }
'
                   tuple-template="{{> template}}" 
                   tuple-template-height="42">
            <template id="template">
                <semantic-link iri={{subject.value}}><b>{{subject.value}}</b></semantic-link>
                <div>{{start.value}}</div>
            </template>
          </semantic-timeline>
        
        [[else]]
        
        <h4>Publication Chart</h4>
         <semantic-chart
            type='line'
            query="
                   SELECT DISTINCT ?year (COUNT(?year) AS ?publSum)
                   WHERE {
                   ?? (owl:sameAs | ^owl:sameAs)* ?periodical .
                   ?periodical frbroo:R5_has_component / frbroo:R24i_was_created_through / crm:P4_has_time-span / crm:P82a_begin_of_the_begin ?date .
                   
                   BIND(STR(?date) AS ?date2)
                   BIND(SUBSTR(?date2, 1, 4) AS ?year)
                   }
                   GROUP BY ?year
                   ORDER BY ?year
                   "
                         sets='[
            {"category": "year", "value": "publSum"}
          ]'
>
          </semantic-chart>
                         
                  
        [[/if]]
        <h4>Published Issues / Volumes</h4>
       <semantic-table query="SELECT ?publ ?date ?graph
                              WHERE { GRAPH ?graph {
                              ?? (owl:sameAs | ^owl:sameAs)* ?periodical .
                              ?periodical frbroo:R5_has_component ?publ .
                              ?publ frbroo:R24i_was_created_through / 
                              	crm:P4_has_time-span /
                              	crm:P82a_begin_of_the_begin ?date .
                              }}
                              ORDER BY ?date
                              "
                        column-configuration='[
    {"variableName": "publ", "displayName": " "},
    {"variableName": "date", "displayName": " "}, 
    {"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
  ]'
                       />-->
        
          [[else]]
					<!-- monograph publication -->
        
        <semantic-query
                        query='
                               select distinct ?pubLabel ?date ?place ?graph
                               where {
                               graph ?graph {
                               ?? (owl:sameAs | ^owl:sameAs)* ?publ .
                               ?publ rdfs:label ?pubLabel;
                                     frbroo:R24i_was_created_through ?publEvent .
                                 OPTIONAL { ?publEvent crm:P4_has_time-span ?date .}
                                 OPTIONAL { ?publEvent crm:P7_took_place_at ?place .}
                               }
                               }
                               '
                        template='{{> template}}'>
          <template id="template">
            {{#each bindings}}<h2>{{#if date}}{{pubLabel.value}} ({{#if place}}<semantic-link iri={{place.value}}></semantic-link>, {{/if}}{{date.value}}){{else}}{{pubLabel.value}}{{/if}} <small>From Graph: {{graph.value}}</small></h2>{{/each}}
          </template>
          </semantic-query>
        
        <semantic-table
                        query="
                               select distinct ?text ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?publ .
		?publ crm:P165_incorporates/crm:P165_incorporates+ ?text .
  }
}
                               "
                        column-configuration='[
		{"variableName": "text", "displayName": "Incorporated Texts"},
    {"displayName": " ", "cellTemplate": "<div>(from graph: <semantic-link iri={{graph.value}}></semantic-link>)</div>"}
    
  ]'
    options='{"showFilter": false}'                    
                        >
          </semantic-table>

          [[/if]]

        
        [[/if]]
        
        
        
        
      </bs-tab>
  
      <bs-tab title="Entity IDs" event-key="10">
        <semantic-table 
  query="
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix owl: <http://www.w3.org/2002/07/owl#>
         
SELECT ?entity ?id ?idValue ?idURL ?idType ?graph
WHERE {
  GRAPH ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?entity .
    ?entity crm:P1_is_identified_by ?id .
    ?id rdf:value ?idValue .
        OPTIONAL { 
            FILTER (CONTAINS(STR(?idValue), 'http'))
            BIND(?idValue AS ?idURL)
        }
    ?id rdf:type crm:E42_Identifier .
    optional {
      #type
      ?id crm:P2_has_type ?idType .
        }
      }
    }
         "
  column-configuration='[
    {"variableName": "idValue", "displayName": "ID", "cellTemplate": "{{> idValue}}"},
    {"variableName": "idType", "displayName": "ID Type"}, 
    {"variableName": "graph", "displayName": "Source Graph"}
  ]'
>

<template id="idValue">
  {{#if idURL}}
  <a href="{{{idURL.value}}}">{{idValue.value}}</a>
  {{else}}
  <div>{{idValue.value}}</div>
  {{/if}}
</template>

</semantic-table>
  </bs-tab>
      
      <!-- Source -->
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
      
      <bs-tab event-key="11" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      
    
    </bs-tabs>
  
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>