<!-- template (in by now very small parts) copied from X1_Corpus in CLScor
https://clscor.acdh-dev.oeaw.ac.at/resource/?action=edit&uri=Template%3Ahttps%3A%2F%2Fclsinfra.io%2Fontologies%2FCRMcls%2FX1_Corpus 
2023-04-21
--> 
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">
	[[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
  	
    <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
      
    <!-- Bibliographical Data:
					- Publication Event Data, Appellation
					- Tree view
					--> 
      <bs-tab event-key="2" title="Bibliographical Data">
        <semantic-table
                        query="
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix frbroo: <https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#>
         
         select distinct  ?appComp ?publDate ?publPlace ?graph
where {
  graph ?graph {
    ?? (owl:sameAs | ^owl:sameAs)* ?publ .
	?publ frbroo:R24i_was_created_through ?publEvent ;
		crm:P1_is_identified_by ?appComp .
    ?appComp a crm:E33_E41_Linguistic_Appellation .
    
    OPTIONAL {
      ?publEvent crm:P7_took_place_at ?publPlace .
    }
    OPTIONAL {
      ?publEvent crm:P4_has_time-span ?publDate .
    }

  }
}
                               "
                        column-configuration='[
    {"variableName": "appComp", "displayName": "Publication Title"}, 
    {"variableName": "publDate", "displayName": "Publication Date"}, 
    {"variableName": "publPlace", "displayName": "Publication Place"},
    {"variableName": "graph", "displayName": "Source Graph"}
    
  ]'
                        
                        >
          </semantic-table>
        
        <h3>Publication Context</h3>
        <semantic-tree query="
                              prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix frbroo: <https://cidoc-crm.org/frbroo/sites/default/files/FRBR2.4-draft.rdfs#>
prefix intro: <https://w3id.org/lso/intro/beta202304#>

select distinct ?node ?parent
where {
  ?parent frbroo:R5_has_component|intro:R25_has_segmemt|crm:P165_incorporates|intro:R10_has_Text_Passage ?node .
  
  {??  frbroo:R5_has_component*|intro:R25_has_segmemt*|crm:P165_incorporates*|(crm:P165_incorporates/intro:R10_has_Text_Passage)* ?node . }
  UNION
  { ?parent frbroo:R5_has_component*|intro:R25_has_segmemt*|crm:P165_incorporates*|(crm:P165_incorporates/intro:R10_has_Text_Passage)* ?? . }
}
                              "/>
      </bs-tab>
  
      <!-- Source -->
      <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
      </bs-tab>
      
      <bs-tab event-key="11" class="tab-ontodia" title="Knowledge Graph">
        <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      </bs-tab>
      
    
    </bs-tabs>
  
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>