<footer class="app-footer">
	<div class="app-footer__blog-link content-container">
		<div>
			Please visit the <a href="https://howto.acdh.oeaw.ac.at/en/curriculum/semantickraus-a-blogpost-series">project blog</a> for additional background information.
		</div>
	</div>

  <div class="app-footer__top">
		<div class="app-footer__top-content content-container">
			<div class="app-footer__top-item">
				<div class="app-footer__top-logo">
					<a href="https://clariah.at">
						<span class="sr-only">CLARIAH</span>
						<img
							alt=""
							height="48"
							src="/assets/images/logo-clariah.png"
							width="auto"
						/>
					</a>
				</div>
				<div class="app-footer__top-text">
					<div>
						<div>CLARIAH</div>
						<div>An open network facilitating the application of digital methods in the Humanities &amp; the development of relevant research infrastructures.</div>
					</div>
					<div>
						<div>Email:
							<a href="mailto:office@clariah.at">
								office@clariah.at
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="app-footer__top-item">
				<div class="app-footer__top-logo">
					<a href="https://www.oeaw.ac.at/acdh">
						<span class="sr-only">ACDH-CH</span>
						<img
							alt=""
							height="48"
							src="/assets/images/logo-acdh-ch.svg"
							width="48"
						/>
					</a>
				</div>
				<div class="app-footer__top-text">
					<div>
						<div>ACDH-CH</div>
						<div>Austrian Centre for Digital Humanities and Cultural Heritage</div>
						<div>Austrian Academy of Sciences</div>
					</div>
					<div>
						<div>Bäckerstraße 13, 1010 Vienna</div>
					</div>
					<div>
						<div>Phone: <a href="tel:+43 1 51581-2200">+43 1 51581-2200 </a></div>
						<div>Email:
							<a href="mailto:acdh-ch-helpdesk@oeaw.ac.at">
								acdh-ch-helpdesk@oeaw.ac.at
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div class="app-footer__bottom">
		<div class="app-footer__bottom-content content-container">
			<span>
				&copy; 2023 <a href="https://oeaw.ac.at/acdh">ACDH-CH</a> |
				<a href="/assets/imprint.html">Imprint</a>
			</span>
		</div>
  </div>
</footer>
