<footer class="app-footer">
  <div class="app-footer__top content-container">
    <div class="app-footer__logo">
      <img
        alt=""
        height="48"
        src="/assets/images/logo-acdh-ch.svg"
        width="48"
      />
    </div>
    <div>
      <div>
        <div>ACDH-CH</div>
        <div>Austrian Centre for Digital Humanities and Cultural Heritage</div>
        <div>Austrian Academy of Sciences</div>
      </div>
      <div>
        <div>Bäckerstraße 13, 1010 Vienna</div>
      </div>
      <div>
        <div>Phone: <a href="tel:+43 1 51581-2200">+43 1 51581-2200 </a></div>
        <div>Email:
          <a
            href="mailto:acdh-ch-helpdesk@oeaw.ac.at"
          >acdh-ch-helpdesk@oeaw.ac.at</a></div>
      </div>
    </div>
  </div>
  <div class="app-footer__bottom content-container">
    <span>
      &copy; 2023 <a href="https://oeaw.ac.at/acdh">ACDH-CH</a> |
      <a href="/assets/imprint.html">Imprint</a>
    </span>
  </div>
</footer>
