<header class="app-header">
  <nav aria-label="Main" class="content-container">
    <mp-link title="Home" url="/">
      <div class="app-header__title">
        <span class="sr-only">Home</span>
        <img
          alt=""
          class="app-header__logo"
          height="48"
          src="/assets/images/logo.svg"
          width="48"
        />
        <span aria-hidden class="app-header__title-text">SemanticKraus</span>
      </div>
    </mp-link>

		<button onclick="alert('JavaScript allowed.')">CLICK ME</button>

    <ul class="app-header__links" role="list">
      <li>
        <mp-link url="/about">About the project</mp-link>
      </li>
      <li>
        <mp-link url="/sources">Source projects</mp-link>
      </li>
      <li>
        <mp-link url="/sparql">SPARQL</mp-link>
      </li>
      <li>
        <mp-link url="/contact">Contact</mp-link>
      </li>
    </ul>

    <button class="app-header__menu-btn" onclick="document.getElementById('main-nav-menu')?.showModal()">
      <span class="sr-only">Menu</span>
			<img alt="" height="24" src="/assets/icons/menu.svg" width="24">
    </button>
		<dialog id="main-nav-menu" class="app-header__menu">
			<form method="dialog">
				<button class="app-header__menu-close-btn">
					<span class="sr-only">Close</span>
					<img alt="" height="24" src="/assets/icons/x.svg" width="24">
				</button>
			</form>
			<ul class="app-header__mobile-links" role="list" onclick="document.getElementById('main-nav-menu')?.close()">
				<li>
					<mp-link url="/about">About the project</mp-link>
				</li>
				<li>
					<mp-link url="/sources">Source projects</mp-link>
				</li>
				<li>
					<mp-link url="/sparql">SPARQL</mp-link>
				</li>
				<li>
					<mp-link url="/contact">Contact</mp-link>
				</li>
			</ul>
		</dialog>
  </nav>
</header>
