<header class="app-header">
	<nav>
		<div class="app-header__title">
			<a href="/">
				<span class="sr-only">Home</span>
				<img alt="" class="app-header__logo" height="48" src="/assets/images/logo.svg" width="48">
			</a>
			<span class="app-header__title-text">SemanticKraus</span>
		</div>
	</nav>
</header>
