<header class="app-header">
	<nav>
		<div class="app-header__title">
			<mp-link title="Home" url="/">
				<span class="sr-only">Home</span>
				<img alt="" class="app-header__logo" height="48" src="/assets/images/logo.svg" width="48">
			</mp-link>
			<span class="app-header__title-text">Semantic Kraus</span>
		</div>
	</nav>
</header>
