<header class="app-header">
  <nav>
    <mp-link title="Home" url="/">
      <div class="app-header__title">
        <span class="sr-only">Home</span>
        <img
          alt=""
          class="app-header__logo"
          height="48"
          src="/assets/images/logo.svg"
          width="48"
        />
        <span aria-hidden class="app-header__title-text">Semantic Kraus</span>
      </div>
    </mp-link>
  </nav>
</header>
