<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>CLSCor</title>
<meta name="description" content="ClsCor RS instance description..." />

<link href="https://clscor.acdh-dev.oeaw.ac.at/" rel="canonical" />

<meta property="og:title" content="CLSCor" />
<meta property="og:description" content="ClsCor RS instance description..." />
<meta property="og:url" content="https://clscor.acdh-dev.oeaw.ac.at/" />
<meta property="og:site_name" content="CLSCor" />
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />

<link href="/assets/styles.css" rel="stylesheet" type="text/css" />