<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>SemanticKraus</title>
	<meta name="description" content="A bibliographical and biographical source and tool linking present and future online publications on Karl Kraus.">

	<link href="https://semantickraus.acdh.oeaw.ac.at" rel="canonical">

	<meta property="og:title" content="SemanticKraus">
	<meta property="og:description" content="A bibliographical and biographical source and tool linking present and future online publications on Karl Kraus.">
	<meta property="og:url" content="https://semantickraus.acdh.oeaw.ac.at">
	<meta property="og:site_name" content="SemanticKraus">
	<meta property="og:locale" content="en">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://semantickraus.acdh.oeaw.ac.at/assets/opengraph-image.png">
	<meta name="twitter:card" content="summary_large_image">

	<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" sizes="32x32">
	<link rel="icon" href="/assets/icon.svg" type="image/svg+xml" sizes="any">
	<link rel="apple-touch-icon" href="/assets/apple-icon.png" type="image/png" sizes="180x180">

	<link href="/assets/styles.css" rel="stylesheet" type="text/css">

	{{#each assetsMap.app.css}}
	<link href="{{this}}" rel="stylesheet" type="text/css">
	{{/each}}

	{{#each assetsMap.app.js}}
	<script defer type="text/javascript" src="{{this}}"></script>
	{{/each}}
</head>

<body>
	<div id="application" class="rs-application"></div>
	<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","name":"SemanticKraus","description":"A bibliographical and biographical source and tool linking present and future online publications on Karl Kraus."}</script>
	{{!--
		Mobile nav dialog.
		We are not using the built-in react bootstrap wrappers, because they are pretty buggy.
		Note that scripts must be placed outside of the root `div#application`, which is
		the subtree managed by react (any javascript will be removed when research space
		transforms handlebars templates to jsx).
	--}}
	<script defer type="text/javascript">
		window.addEventListener('DOMContentLoaded', () => {
			const trigger = document.getElementById('main-nav-trigger');
			const menu = document.getElementById('main-nav-menu');
			trigger?.addEventListener('click', () => {
				menu?.showModal();
			});
			window.matchMedia('(min-width: 640px)').addEventListener('change', (event) => {
				if (event.matches) menu?.close();
			});
		})
	</script>
</body>

</html>
